
.header-carousel{
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.06);
}
#header-cara{
    position: relative;
}
.header-card-right{
    position: relative;
    left: -17px;
}
.header-card-left{
    position: relative;
    left:17px;
    margin: 10% 0;
}
.header-card-content .quote_u{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 40px;
    transform: rotate(-180deg);
}
.header-card-content .quote_l{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 40px;
}
.header-card-content{
    width: 450px;
    height: 235px;
    box-shadow: 1px 1px 30px rgba(0,0,0,0.1);
    padding:5% 10%;
    background:white;
    border-radius: 10px;
    position: relative;
}
.header-card-title{
    position: absolute;
    top:50%;
    left: 50%;
   transform: translate(-50%,-50%);
   line-height: 31px;
   width: 75%;
}
.header-card-title a{
    font-size:24px;
    font-family: 'Vision Heavy';
    color: #042330;
}
.header-card-title a:hover{
    color: #042330;
}
.header-card-cat{
    font-size: 12px;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3%;
}
.header-card-right > a{
    color: #042330;
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 15%;
    right: 0;
    font-size: 14px;
    font-family: 'Vision Regular';
    line-height: 12px;
}
.header-card-right > a:hover{
    text-decoration: none;
    color: #042330;
    border-bottom: none;
}
.heart-icon-header{
    right:-10px;
    top:-10px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.carousel-indicators .active {
    width: 35px!important;
    height: 12px!important;
    border-radius: 50px!important;
    background-color: #FFDE00 !important;
}
.carousel-indicators li {
    width: 12px!important;
    height: 12px!important;
    border: 2px solid #FFDE00 ;
    border-radius: 50%!important;
    cursor: pointer;
}
.carousel-indicators{
    align-items: center;
}
.carousel-indicators li:first-child{
    margin-right: 1%;
}
.next_in{
    position: absolute;
    right: -10%;
    top:40%;
    background-color: #FFDE00;
}
.prev_in{
    position: absolute;
    left:-10%;
    top:40%;
    background-color: #FFDE00;
}
.next_in:hover{
    text-decoration: none;
    background-color: #ffc107;
}
.prev_in:hover{
    text-decoration: none;
    background-color: #ffc107;
}
.header-card-left img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width:450px;
    height: 235px;
}
.heart-icon-flex{
    right: -5px;
    bottom: -5px;
}
.header-flex3-top{
    position: relative;
}
.header-flex3-top::before{
    content: url('assets/triang_svg.svg');
    position: absolute;
    top: -10px;
    right: -10px;
}
.header-flex3-top::after{
    content: url('assets/triang_svg.svg');
    position: absolute;
    bottom: -10px;
    left: -10px;
    transform: rotate(-180deg);
}
.header-flex3 .card-header{
    padding: 30px!important;
}
.header-flex3-tag{
    font-size: 14px;
    font-family: 'Vision Regular', serif;
    color: #042330;
}
.header-flex3-tag:hover{
    color: #042330;
}
.header-flex3-bottom .flex3-author{
    font-size: 14px;
    margin-top: 6%;
    font-family: 'Vision Regular', sans-serif;
    color: #292929!important;
}
.header-flex3-bottom > p span{
    border-left: 1.5px solid rgba(0,0,0,0.5);
    margin-left: 10px;
    padding-left: 10px;
}
.header-flex3-title a{
    color:#042330;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
}
.header-flex3-title a:hover{
    color:#042330;
}
.header-flex1,.header-flex2,.header-flex4,.header-flex5{
    width: 300px;
    padding: 25px;
    height: 180px;
    border: none!important;
    z-index: 0;
}
.header-flex3{
    width: 400px;
    height: 450px;
    border-left: 1px solid rgba(0,0,0,0.1)!important;
    border-right: 1px solid rgba(0,0,0,0.1)!important;
    border-bottom: none!important;
    border-top: none!important;
}
.header-flex .card-header{
    position: relative;
    height: 100%;
    border: none!important;
}
.header-flex1 .card-header,.header-flex4 .card-header{
    background: url(https://wallup.net/wp-content/uploads/2019/05/10/338365-mountains-landscapes-nature-lone-tree-natural-scenery-pure-blue-748x421.jpg),linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 0px!important;
    padding: 0.4rem 0.5rem!important;
}
.header-flex2 .card-header, .header-flex5 .card-header{
    background: url(https://wallpapercave.com/wp/kjh8eTP.jpg),linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 0px!important;
    padding: 0.4rem 0.5rem!important;
}
.header-flex3 .card-header{
    background-color: #fff!important;
    border-radius: 0px!important;
}
.header-flex1::before,.header-flex2::before,.header-flex4::before,.header-flex5::before{
    content: url('assets/triang_svg.svg');
    position: absolute;
    top: 0;
    right: 0;
}
.header-flex1::after,.header-flex2::after,.header-flex4::after,.header-flex5::after{
    content: url('assets/triang_svg.svg');
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-180deg);
}
.header-flex1-tag a,.header-flex2-tag a,.header-flex4-tag a, .header-flex5-tag a{
    font-size: 12px;
    color:rgba(255,255,255);
    font-family: 'Vision Regular';
    line-height: 31px;

}
.header-flex1-title a,.header-flex2-title a,.header-flex4-title a, .header-flex5-title a{
    font-size: 14px;
    color:rgba(255,255,255);
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.header-flex1 a:hover,.header-flex2 a:hover,.header-flex4 a:hover, .header-flex5 a:hover{
   color:rgba(255,255,255);
}
.relation-left{
    width: 65%;
}
.relation-right{
    width: 33%;
}
.relationship-post-link{
    position: relative;
    top: -30px;
}
.relationship-post-link a{
    color: #042330;
    font-size: 14px;
    line-height: 13px;
    text-decoration: underline;
}
.relationship-post-link a:hover{
    color: #042330;
    text-decoration: none;
}
.relation-cards .card{
    border: none!important;
    height: 130px;
    margin: 20px 0;
    box-shadow: 1px 1px 30px rgb(236, 234, 234);
}
.relation-related-smallcards .card{
    border: none!important;
    box-shadow: 1px 1px 30px rgb(236, 234, 234);
    height: 90px;
    margin: 20px 0;
}
.relation-related-cards .last-related-card{
    border: none!important;
    box-shadow: 1px 1px 30px rgb(236, 234, 234);
    margin: 20px 0;
    height: auto;
}
.relationship-card-title{
    line-height: 24px;
}
.relationship-card-title a{
    color:#042330;
    font-family: 'Playfair Display', serif;
    font-size: 19px;
    z-index:1;
}
.relation-related-card-title{
    line-height: 17px;
    margin-top: 3px;
    margin-bottom: 5px;
}
.relation-related-card-title a{
    color:#042330;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}
.relation-related-lastcard-title{
    line-height: 15px;
    margin-top: 10px;
}
.relation-related-lastcard-title a{
    color:#042330;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}
.relation-related-lastcard-title p{
    font-family: 'Vision Regular';
    font-size: 13.5px;
    line-height: 16px;
    color: #292929;
    margin-top: 15px;
}
.relationship-card-title a:hover,.relation-related-card-title a:hover,.relation-related-lastcard-title a:hover{
    color:#042330;
}
.relationship-card-title p{
    font-family: 'Vision Regular';
    font-size: 13px;
    line-height: 16px;
    color: #292929;
    margin-top: 15px;
}
.relation-auth{
    font-family: 'Vision Regular', sans-serif;
    font-size: 12px;
    color:#292929;
}
.relationship-tag{
    font-family: 'Vision Regular', sans-serif;
    font-size: 12px;
    color:#292929;
}
.relation-related-tag{
    font-family: 'Vision Regular', sans-serif;
    font-size: 12px;
    color:#292929;
}
.relationship-tag:hover{
    color:#042330;
}
.relation-auth{
    color:#292929;
}
.relation-auth span{
    margin:0 10px;
}
.relation-related-auth{
    font-family: 'Vision Regular', sans-serif;
    font-size: 12px;
    color:#292929;
}
.relation-related-auth span{
    margin:0 10px;
}
.relation-related-lastauth{
    font-family: 'Vision Regular', sans-serif;
    font-size: 12px;
    color:#292929;
}
.relation-related-lastauth span{
    margin:0 10px;
}
.relation-cards .card-header{
    padding: 10px 18px!important;
    border: none!important;
    background-color: #fff!important;
}
.relation-related-cards .card-header{
    padding: 1px 5px!important;
    border: none!important;
    background-color: #fff!important;
}
.card-top .card-img-top{
   width: 130px;
   border-radius: 0px!important;
   height: 100%;
}
.card-related-top .card-img-top{
    width: 90px;
   border-radius: 0px!important;
   height: 100%;
}
.card-related-last-top .card-img-top{
    height: 140px;
    position: relative;
}
.last-card-link{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
    font-family: 'Vision Regular';
}
.last-related-card .card-header{
    position: relative;
}
.heart-icon-last{
    right: 0;
    bottom: 0;
}
.relationship .card-top{
    position: relative;
}
.relationship .card-related-top{
    position: relative;
}
.heart-icon-relationship{
    top: 50%;
    transform: translate(0,-50%);
    right: -15px;
}
.heart-icon-relation-rel{
    bottom: 0;
    left: -15px;
}
.relationship-title h2,.relation-related-title h2,.spirituality-title h2,.view-by-cat-title h2{
    font-size: 25px;
    font-family: 'Playfair Display';
    font-style: italic;
}
.h2 span{
    position: relative;
}
.h2 span::after{
    content: '';
    position: absolute;
    background-color: #FFDE00;
    left: 0;
    right: 0%;
    bottom: 0;
    top: 60%;
    z-index: -1;
}
.hr{
    width:76%;
}
.view-card-link{
    color: #042330;
}
.view-card-link:hover{
    color: #042330;
    text-decoration: none;
}
.view-cat-card > img{
    width: 50px;
    height: 50px;
}
.view-by-cat-title h2{
    font-size: 26px;
}
.view-card-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    font-family: 'Montserrat', sans-serif;
}
.view-card-content{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0!important;
}
.view-by-cat .card{
    padding: 10px;
    width: 150px;
    height: 210px;
    border: none!important;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    position: relative;
}
.view-arrow{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.view-by-cat .card:hover{
    border: 2px solid #FFDE00!important;
}
.cat-row{
    padding: 0 15%;
}
.view-by-cat::before{
    content: 'Categories';
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 17rem;
    color: #FFF8CA;
    font-family: 'Playfair Display';
    font-weight: 600;
}
.view-by-cat-title{
    position: relative;
}
.spirituality-right .card-header{
    height: 100%;
}
.spirituality-right .header-flex4-title,.spirituality-right .header-flex5-title{
    transform: translate(0,20%);
}
.spirituality-right .header-flex5,.spirituality-right .header-flex4{
    width: 350px;
    margin: 20px 0;
    box-shadow: 1px 1px 30px rgb(236, 234, 234);
}
.relation-left{
    width: 65%;
}
.spirituality-right{
    width: 33%;
}
.spirituality-right .header-flex4 .card-header,.spirituality-right .header-flex5 .card-header{
    position: relative;
}
.spirituality-recom-title h2,.spirituality-title h2,.relation-view-title h2{
    font-size: 25px;
    font-family: 'Playfair Display';
    font-style: italic;
}
@media screen and (max-width:576px){
    .header-carousel{
        height: 390px;
    }
    .header-card-content{
        width: 95%;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .header-card-left img{
        width:75%;
        height: 150px;
    }
    .header-card-title{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        line-height: 17px;
    }
    .header-card-title a{
        font-size:14px;
    }
    .header-card-right{
        left: 0px;
        top:-15px;
    }
    .header-card-left{
        left:0px;
        margin: 5% 0;
        text-align: center;
        top:15px;
        z-index: 1;
    }
    .header-card-content .quote_u{
        top: 15%;
        width: 30px;
    }
    .header-card-content .quote_l{
        bottom: 15%;
        width: 30px;
    }
    #header-cara .carousel-indicators{
        bottom:-50px;
    }
    .relation-left{
        width: 100%;
    }
    .relation-right{
        width: 100%;
        margin-top: 5%;
    }
    .relationship-card-title{
        line-height: 16px;
    }
    .relationship-card-title a,.spirituality-card-title a{
        font-size: 14px;
        z-index:1;
    }
    .card-top .card-img-top{
        width: 90px;
        border-radius: 0px!important;
        height: 100%;
    }
    .relation-cards .card{
        height: 50%;
        margin: 10px 0;
    }
    .card-related-top,.card-related-last-top{
        padding: 5px;
    }
    .relationship-card-title p{
        font-size: 12px;
        line-height: 15px;
        margin-top: 5px;
        margin-bottom: 5px!important;
    }
    .relation-cards .card-header{
        padding: 5px 5px 5px 18px!important;
    }
    .relation-auth{
        font-size: 10px;
    }
    .relationship-title h2,.relation-related-title h2,.spirituality-title h2,.view-by-cat-title h2{
        font-size: 18px;
    }
    .relationship-post-link a{
        font-size: 12px;
    }
    .relation-related-smallcards .card{
        height: 50%;
        margin: 10px 0;
    }
    .view-card-title{
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 0.3rem!important;
    }
    .view-card-content{
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 0!important;
        line-height:12px;
    }
    .view-by-cat .card{
        padding: 3px;
        width: 94%;
        height: 130px;
        margin-left: auto;
        margin-right: auto;
    }
    .cat-row{
        padding: 0%;
    }
    .view-by-cat{
        position: relative;
    }
    .view-by-cat::before{
        top:40%;
        font-size: 5rem;
        overflow: hidden;
        max-width: 100%;
    }
    .view-cat-card > img{
        width: 30px;
        height: 30px;
    }
    .view-arrow img{
        width:20px;
    }
    .view-arrow{
        position: absolute;
        right: 10px;
        bottom: 5px;
    }
}