@font-face{
    font-family: Vision;
    src:url('assets/Vision/Vision-Light.ttf');
}
@font-face{
    font-family: Vision Regular;
    src:url('assets/Vision/Vision-Regular.ttf');
}
@font-face{
    font-family: Vision Heavy;
    src:url('assets/Vision/Vision-Heavy.ttf');
}
button{
    font-family: 'Vision Regular'!important;
}
#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #FFDE00; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite;
} 
@keyframes spin{
    0% {
        border-top-color: #FFDE00;
       
    }
    50%{
        border-top-color: #fda502;
        
    }
    100% {
        border-top-color: #FFDE00;
        transform: rotate(360deg);
    }
}
.center { 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
}
body,html{
    height: 100%;
    scroll-behavior: smooth;
}
nav .container{
    margin-right: 165px;
    margin-left: 165px;
    padding-left: 0!important;
    padding-right: 0!important;
}
.search-icon{
    margin-left: 8%;
}
.nav-link{
    color: #000!important;
    opacity: 1!important;
    margin-right: 10px;
    font-family: 'Vision Regular', serif;
    font-size: 16px!important;
}
.dropdown-toggle::after{
    content: url('assets/icons/Dropdown-icon.svg')!important;
    vertical-align: -0.5em!important;
    border-top: none!important;
    border-left: none!important;
}
.nav-yellow{
    position: relative;
}
.hover-yellow{
    position: relative;
}
.nav-yellow:after, .hover-yellow:hover::after {
    content: ""; 
    position: absolute;
    width: 50%; 
    border-bottom: 3px solid yellow;
    bottom:-4px;
    left: 0;
    right: 0;
}
.navbar-brand{
    position: relative;
}
.nav-tag{
    position: absolute;
    bottom:-20%;
    left: 19%;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Vision Heavy';
}
/*.categories-nav{
    list-style-type: none;
    background-color: #000;
    width: 100%;
    position: fixed;
    top: 67px;
    z-index: 1;
}
.categories-nav li{
    display: inline-block;
    padding: 10px 20px;
}
.categories-nav a li{
    font-size: 14px;
    font-family:'Vision Regular', serif;
}
#cat1:hover{
    background-color: red;
}
#cat2:hover{
    background-color: skyblue;
}
#cat3:hover{
    background-color: rgb(97, 236, 97);
}
#cat4:hover{
    background-color: rgb(201, 85, 201);
}
#cat5:hover{
    background-color: rgb(245, 140, 101);
}*/
.header-carousel{
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.06);
}
#header-cara{
    margin-left: 165px;
    margin-right: 165px;
    position: relative;
}
.header-card-right{
    position: relative;
    left: -17px;
}
.header-card-left{
    position: relative;
    left:17px;
    margin: 10% 0;
}
.header-card-content .quote_u{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 40px;
    transform: rotate(-180deg);
}
.header-card-content .quote_l{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 40px;
}
.header-card-content{
    width: 450px;
    height: 235px;
    box-shadow: 1px 1px 30px rgba(0,0,0,0.1);
    padding:5% 10%;
    background:white;
    border-radius: 10px;
    position: relative;
}
.header-card-title{
   transform: translate(0,50%);
}
.header-card-title a{
    font-size:24px;
    font-family: 'Vision Heavy';
    line-height: 31px;
    color: #042330;
}
.header-card-title a:hover{
    color: #042330;
}
.header-card-cat{
    font-size: 12px;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3%;
}
.header-card-right > a{
    color: #042330;
    border-bottom: 1px solid black;
    position: absolute;
    bottom: 15%;
    right: 0;
    font-size: 14px;
    font-family: 'Vision Regular';
    line-height: 12px;
}
.header-card-right > a:hover{
    text-decoration: none;
    color: #042330;
    border-bottom: none;
}
.heart-icon-header{
    right:-10px;
    top:-10px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.carousel-indicators .active {
    width: 35px!important;
    height: 12px!important;
    border-radius: 50px!important;
    background-color: #FFDE00 !important;
}
.carousel-indicators li {
    width: 12px!important;
    height: 12px!important;
    border: 2px solid #FFDE00 ;
    border-radius: 50%!important;
    cursor: pointer;
}
.carousel-indicators{
    align-items: center;
}
.carousel-indicators li:first-child{
    margin-right: 1%;
}
.next_in{
    position: absolute;
    right: -10%;
    top:40%;
    background-color: #FFDE00;
}
.prev_in{
    position: absolute;
    left:-10%;
    top:40%;
    background-color: #FFDE00;
}
.next_in:hover{
    text-decoration: none;
    background-color: #ffc107;
}
.prev_in:hover{
    text-decoration: none;
    background-color: #ffc107;
}
.header-card-left img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width:450px;
    height: 235px;
}
.heart-icon{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.heart-icon img{
    width:16px;
    height:16px;
}
.heart-icon-flex{
    right: -5px;
    bottom: -5px;
}
.header-flex3-top{
    position: relative;
}
.header-flex3-top::before{
    content: url('assets/triang_svg.svg');
    position: absolute;
    top: -10px;
    right: -10px;
}
.header-flex3-top::after{
    content: url('assets/triang_svg.svg');
    position: absolute;
    bottom: -10px;
    left: -10px;
    transform: rotate(-180deg);
}
.header-flex3 .card-header{
    padding: 30px!important;
}
.header-flex3-tag{
    font-size: 14px;
    font-family: 'Vision Regular', serif;
    color: #042330;
}
.header-flex3-tag:hover{
    color: #042330;
}
.header-flex3-bottom .flex3-author{
    font-size: 14px;
    margin-top: 6%;
    font-family: 'Vision Regular', sans-serif;
    color: #292929!important;
}
.header-flex3-bottom > p span{
    border-left: 1.5px solid rgba(0,0,0,0.5);
    margin-left: 10px;
    padding-left: 10px;
}
.header-flex3-title a{
    color:#042330;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
}
.header-flex3-title a:hover{
    color:#042330;
}
.header-flex{
    margin-right: 165px;
    margin-left: 165px;
}
.header-flex1,.header-flex2,.header-flex4,.header-flex5{
    width: 300px;
    padding: 25px;
    height: 180px;
    border: none!important;
    z-index: 0;
}
.header-flex3{
    width: 400px;
    height: 450px;
    border-left: 1px solid rgba(0,0,0,0.1)!important;
    border-right: 1px solid rgba(0,0,0,0.1)!important;
    border-bottom: none!important;
    border-top: none!important;
}
.header-flex .card-header{
    position: relative;
    height: 100%;
    border: none!important;
}
.header-flex1 .card-header,.header-flex4 .card-header{
    background: url(https://wallup.net/wp-content/uploads/2019/05/10/338365-mountains-landscapes-nature-lone-tree-natural-scenery-pure-blue-748x421.jpg),linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 0px!important;
    padding: 0.4rem 0.5rem!important;
}
.header-flex2 .card-header, .header-flex5 .card-header{
    background: url(https://wallpapercave.com/wp/kjh8eTP.jpg),linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    border-radius: 0px!important;
    padding: 0.4rem 0.5rem!important;
}
.header-flex3 .card-header{
    background-color: #fff!important;
    border-radius: 0px!important;
}
.header-flex1::before,.header-flex2::before,.header-flex4::before,.header-flex5::before{
    content: url('assets/triang_svg.svg');
    position: absolute;
    top: 0;
    right: 0;
}
.header-flex1::after,.header-flex2::after,.header-flex4::after,.header-flex5::after{
    content: url('assets/triang_svg.svg');
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-180deg);
}
.header-flex1-tag a,.header-flex2-tag a,.header-flex4-tag a, .header-flex5-tag a{
    font-size: 12px;
    color:rgba(255,255,255);
    font-family: 'Vision Regular';
    line-height: 31px;

}
.header-flex1-title a,.header-flex2-title a,.header-flex4-title a, .header-flex5-title a{
    font-size: 14px;
    color:rgba(255,255,255);
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.header-flex1 a:hover,.header-flex2 a:hover,.header-flex4 a:hover, .header-flex5 a:hover{
   color:rgba(255,255,255);
}
.relationship-post-link,.spirituality-post-link,.etr-ship-post-link{
    position: relative;
    top: -30px;
}
.relationship-post-link a,.spirituality-post-link a,.etr-ship-post-link a{
    color: #042330;
    font-size: 14px;
    line-height: 13px;
    border-bottom: 1px solid #042330;
}
.relationship-post-link a:hover,.spirituality-post-link a:hover,.etr-ship-post-link a:hover{
    color: #042330;
    text-decoration: none;
    border-bottom: none;
}
.relationship-post-link a:hover,.spirituality-post-link a:hover,.etr-ship-post-link a:hover{
    color: #042330;
    border-color: transparent!important;
}
.relation-cards .card,.spirituality .card,.enterpreneurship .card{
    border: none!important;
    height: 130px;
    margin: 20px 0;
    box-shadow: 1px 1px 30px rgb(236, 234, 234);
}
.relation-related-cards .card{
    border: none!important;
    box-shadow: 1px 1px 30px rgb(236, 234, 234);
    height: 90px;
    margin: 20px 0;
}
.relation-related-cards .last-related-card{
    height: auto;
}
.relationship-card-title a,.spirituality-card-title a,.etr-card-title a{
    color:#042330;
    font-family: 'Playfair Display', serif;
    font-size: 19px;
    line-height: 24px;
    z-index:1;
}
.relation-related-card-title{
    line-height: 17px;
    margin-top: 3px;
    margin-bottom: 5px;
}
.relation-related-card-title a{
    color:#042330;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}
.relation-related-lastcard-title{
    line-height: 15px;
    margin-top: 10px;
}
.relation-related-lastcard-title a{
    color:#042330;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}
.relation-related-lastcard-title p{
    font-family: 'Vision Regular';
    font-size: 13.5px;
    line-height: 16px;
    color: #292929;
    margin-top: 15px;
}
.relationship-card-title a:hover,.spirituality-card-title a:hover,.etr-card-title a:hover,.relation-related-card-title a:hover,.relation-related-lastcard-title a:hover{
    color:#042330;
}
.relationship-card-title p{
    font-family: 'Vision Regular';
    font-size: 13px;
    line-height: 16px;
    color: #292929;
    margin-top: 15px;
}
.relation-auth,.spirituality-tag,.spirituality-card-bottom span,.etr-tag,.etr-ship-card-bottom span{
    font-family: 'Vision Regular', sans-serif;
    font-size: 12px;
    color:#292929;
}
.relationship-tag{
    font-family: 'Vision Regular', sans-serif;
    font-size: 12px;
    color:#292929;
}
.relation-related-tag{
    font-family: 'Vision Regular', sans-serif;
    font-size: 12px;
    color:#292929;
}
.relationship-tag:hover,.spirituality-tag:hover,.etr-tag:hover,.relation-related-tag:hover{
    color:#042330;
}
.relation-auth,.spirituality-card-bottom span,.etr-ship-card-bottom span{
    color:#292929;
}
.relation-auth span{
    margin:0 10px;
}
.relation-related-auth{
    font-family: 'Vision Regular', sans-serif;
    font-size: 12px;
    color:#292929;
}
.relation-related-auth span{
    margin:0 10px;
}
.relation-related-lastauth{
    font-family: 'Vision Regular', sans-serif;
    font-size: 12px;
    color:#292929;
}
.relation-related-lastauth span{
    margin:0 10px;
}
.relation-cards .card-header,.spirituality .card-header,.enterpreneurship .card-header{
    padding: 10px 18px!important;
    border: none!important;
    background-color: #fff!important;
}
.relation-related-cards .card-header{
    padding: 1px 5px!important;
    border: none!important;
    background-color: #fff!important;
}
.card-top .card-img-top,.spirituality .card-img-top,.enterpreneurship .card-img-top{
   width: 130px;
   border-radius: 0px!important;
   height: 100%;
}
.card-related-top .card-img-top{
    width: 90px;
   border-radius: 0px!important;
   height: 100%;
}
.card-related-last-top .card-img-top{
    height: 140px;
    position: relative;
}
.last-card-link{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
    font-family: 'Vision Regular';
}
.last-related-card .card-header{
    position: relative;
}
.heart-icon-last{
    right: 0;
    bottom: 0;
}
.relationship .card-top,.spirituality .spirituality-card-top,.etr-ship-card-top{
    position: relative;
}
.relationship .card-related-top,.spirituality .spirituality-card-top,.etr-ship-card-top{
    position: relative;
}
.heart-icon-relationship,.heart-icon-spirituality,.heart-icon-enterpreneurship{
    top: 50%;
    transform: translate(0,-50%);
    right: -15px;
}
.heart-icon-relation-rel{
    bottom: 0;
    left: -15px;
}
.relationship-title,.relation-related-title,.spirituality-title,.etr-ship-title{
    position: relative;
}
.relationship-title h2,.relation-related-title h2,.spirituality-title h2,.etr-ship-title h2,.view-by-cat-title h2{
    font-size: 25px;
    font-family: 'Playfair Display';
    font-style: italic;
}
.relationship-title::after,.spirituality-title::after{
    content: '';
    position: absolute;
    background-color: #FFDE00;
    left: 0;
    right: 79.5%;
    bottom: 0;
    top: 17px;
    z-index: -1;
}
.relation-related-title::after{
    content: '';
    position: absolute;
    background-color: #FFDE00;
    left: 0;
    right: 75.5%;
    bottom: 0;
    top: 17px;
    z-index: -1;
}
.etr-ship-title::after{
    content: '';
    position: absolute;
    background-color: #FFDE00;
    left: 40.5%;
    right: 40.5%;
    bottom: 0;
    top: 17px;
    z-index: -1;
}
.hr{
    width:76%;
}
.view-by-cat{
    margin-left: 165px;
    margin-right: 165px;
}
.view-card-link{
    color: #042330;
}
.view-card-link:hover{
    color: #042330;
    text-decoration: none;
}
.view-by-cat-title h2{
    font-size: 26px;
}
.view-card-title{
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    font-family: 'Montserrat', sans-serif;
}
.view-card-content{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0!important;
}
.view-by-cat .card{
    padding: 10px;
    width: 150px;
    height: 210px;
    border: none!important;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    position: relative;
}
.view-arrow{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.view-by-cat .card:hover{
    border: 2px solid #FFDE00!important;
}
.view-by-cat .row{
    padding: 0 15%;
}
.view-by-cat::before{
    content: 'Categories';
    position: absolute;
    left: 0;
    font-size: 17rem;
    color: #FFF8CA;
    font-family: 'Playfair Display';
    font-weight: 600;
}
.view-by-cat-title{
    position: relative;
}
.view-by-cat-title::after{
    content: '';
    position: absolute;
    background-color: #FFDE00;
    left: 39.5%;
    right: 39.5%;
    bottom: 0;
    top: 17px;
    z-index: -1;
}
.text-warn{
    color:#FFDE00!important; 
}
.btn-warning{
    background-color: #FFDE00!important;
    border-color: #FFDE00!important;
}
.btn-warning:hover{
    background-color: #ffc107!important;
    border-color: #ffc107!important;
}
.btn-outline-warning{
    border-color: #FFDE00!important;
}
.btn-outline-warning:hover{
    background-color: #FFDE00!important;
}
.subscribe_middle{
    background-color: #eeedec;
    margin-left: 165px;
    margin-right: 165px;
    padding: 40px 40px 20px 40px;
}
.subscribe_left p:first-child{
    font-size:26px;
    line-height: 20px;
    font-family: 'Vision Regular', sans-serif;
}
.subscribe_left p:last-child{
    font-size: 16px;
    font-family: 'Vision', sans-serif;
    line-height: 24px;
}
.subscribe_button .btn{
    padding: 6% 20%!important;
    font-size: 18px;
}
.subscribe_middle .form-group{
    margin-bottom: 0!important;
}
#email1{
    width: 350px;
    border:none;
    padding:3.5% 5%;
    margin-left: 20px;
}
#email1::placeholder{
    font-size: 17px;
    font-family: 'Vision';
}
#email1:focus{
    border-color: #FFDE00!important;
    box-shadow: 0 0 0 0.2rem #FFDE00;
    color: #495057;
    background-color: #fff;
    outline: 0;
}
.email{
    padding: 2% 0;
    margin-left: 165px;
    margin-right: 165px;
}
 .email p:first-child{
   font-size:36px;
   font-weight: 500;
   font-family:'Playfair Display', serif;
   letter-spacing: 2%;
}
.email p:nth-child(2){
   font-size:1.3rem;
   font-family: 'Vision Regular', sans-serif;
}
#usr{
   border:none;
   padding:0.9rem 0;
   border-radius: 5px;
   padding-left: 10%;
   background-color: rgba(0, 0, 0, 0.06);
   width: 650px;
}
#usr:focus{
    border-color: #FFDE00!important;
    box-shadow: 0 0 0 0.2rem #FFDE00;
    color: #495057;
    background-color: #fff;
    outline: 0;
}
#usr::placeholder{
    font-size: 19px;
    font-family: 'Vision', sans-serif;
}
.footer_subscribe{
    padding: 0 80px;
}
.email .sub_button button{
   border-width: 2.5px!important;
   border-radius: 7px;
   padding: 0.65rem 2.5rem;
   font-size: 19px;
   font-family: 'Vision';
}
footer{
    font-family: 'Vision Regular', sans-serif;
}
.footer-logo img{
    width: 190px;
    height: 58px;
}
.footer-logo p{
    font-size: 18px;
    letter-spacing: 0.8%;
}
.footer-logo p span{
    font-size: 18px;
    font-family: 'Vision Heavy';
}
footer ul{
    list-style-type: none;
}
footer li a{
    text-decoration: none;
    color:#444444;
}
footer ul li{
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing:0.8%;
}
footer ul li:first-child{
    font-size: 20px;
    letter-spacing:0.8%;
    margin-bottom: 15px;
}
footer ul li:first-child a{
    color:#042330
}
footer li a:hover{
    color:#444444;
}
.footer{
    padding: 5% 0 0 0;
    margin-left: 165px;
    margin-right: 165px;
}
footer{
    background: url(assets/footer_bg2.png),linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75));
    background-blend-mode: lighten;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.footer-illustration{
    height: 100px;
}
.footer-illustration img{
    width: 395px;
    height: 225px;
    position: relative;
    top:-80px;
    left: -90px;
}
.footer_in{
    align-items: flex-end;
    margin-left: 165px;
    margin-right: 165px;
}
.footer_p{
    font-size: 16px;
    position: relative;
    margin-bottom: 0.3rem!important;
    line-height: 0;
    letter-spacing:0.8%;
    left:-120px;
}
.footer_p span{
    font-size: 1.5rem;
    font-weight: bold;
}
.footer_last{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5% 0;
}
.footer_last p{
    margin-bottom: 0px!important;
    font-size: 14px;
    letter-spacing:0.8%;
    color: #454545;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.relationship{
    margin-left: 165px;
    margin-right: 165px;
}
.relation-left{
    width: 65%;
}
.relation-right{
    width: 33%;
}
img{
    object-fit: cover;
}
.spirituality-right .card-header{
    height: 100%;
}
.spirituality-right .header-flex4-title,.spirituality-right .header-flex5-title{
    transform: translate(0,20%);
}
.spirituality-right .header-flex5,.spirituality-right .header-flex4{
    width: 350px;
    margin: 20px 0;
    box-shadow: 1px 1px 30px rgb(236, 234, 234);
}
.relation-left{
    width: 65%;
}
.spirituality-right{
    width: 33%;
}
.spirituality-right .header-flex4 .card-header,.spirituality-right .header-flex5 .card-header{
    position: relative;
}
.spirituality-recom-title,.spirituality-title,.relation-view-title{
    position: relative;
}
.spirituality-recom-title h2,.spirituality-title h2,.relation-view-title h2{
    font-size: 25px;
    font-family: 'Playfair Display';
    font-style: italic;
}
.spirituality-recom-title::after{
    content: '';
    position: absolute;
    background-color: #FFDE00;
    left: 0;
    right: 54.5%;
    bottom: 0;
    top: 17px;
    z-index: -1;
}
.spirituality-title::after{
    content: '';
    position: absolute;
    background-color: #FFDE00;
    left: 0;
    right: 80.5%;
    bottom: 0;
    top: 17px;
    z-index: -1;
}
.relation-view-title::after{
    content: '';
    position: absolute;
    background-color: #FFDE00;
    left: 0;
    right: 60.5%;
    bottom: 0;
    top: 17px;
    z-index: -1;
}