.error-left{
    width: 48%;
}
.error-right{
    width: 48%;
    position: relative;
}
.error-right p:first-child{
    font-size: 45px;
    font-family: 'Playfair Display';
    line-height: 50px;
}
.error-right p:nth-child(2),.error-right p:nth-child(3){
     font-size: 24px;
     font-family: 'Montserrat';
     margin-bottom: 0!important;
     line-height: 31px;
}
.arrow-img{
   position: absolute;
   bottom: 3%;
   right: 0;
   width: 150px;
   height: 150px;
   z-index: -1;
}
.error-button{
    margin-top: 15%;
    font-size: 20px!important;
    font-family: 'Vision Regular';
}
.errorpage-header{
    position: relative;
}
.errorpage-header > div{
    margin-top: 12%;
    margin-bottom: 7%;
}
.errorpage-header::before{
    content: url('assets-Error-Page/Large404.svg');
    position: absolute;
    top: -23%;
    left: 0;
    z-index: -1;
}
.errorpage-header::after{
    content: url('assets-Error-Page/Side404.svg');
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.hr2{
    width: 60%;
}
.search { 
    position: fixed;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
    background-color: #fff;
    z-index: 1031;
}
.search-input{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.logo-searchpage{
    top:2%;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
}
.cross-sign{
    top:2%;
    right:13.5%;
    position: absolute;
    cursor: pointer;
}
.search-input input{
    width: 55vw;
    height: 5vw;
    border-bottom: 3px solid #666666!important;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0 55px;
    font-size: 27px;
    color: #666666;
    font-family: 'Playfair Display';
}
.search-input input::placeholder{
    font-size: 27px;
    font-family: 'Playfair Display';
    text-align: center;
    color: #666666;
    text-transform: uppercase;
}
.search-input input:focus{
    border-bottom: 3px solid #FFDE00!important;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #666666;
    background-color: #fff;
    outline: 0;
    font-size: 27px;
    font-family: 'Playfair Display';
}
