.error-left{
    width: 48%;
}
.error-left img{
    width: 100%;
}
.error-right{
    width: 48%;
    position: relative;
    max-width: 500px;
}
.error-right p:first-child{
    font-size: 45px;
    font-family: 'Playfair Display';
    line-height: 50px;
}
.error-right p:nth-child(2),.error-right p:nth-child(3){
     font-size: 24px;
     font-family: 'Montserrat';
     margin-bottom: 0!important;
     line-height: 31px;
}
.arrow-img{
   position: absolute;
   top:216px;
   right: 0;
   width: 150px;
   height: 150px;
   z-index: -1;
}
.error-button{
    margin-top: 15%;
    font-size: 20px!important;
    font-family: 'Vision Regular';
}
.errorpage-header{
    position: relative;
    overflow: hidden;
}
.errorpage-header > div{
    margin-top: 167px;
    margin-bottom: 96px;
}
.errorpage-header::before{
    content: url('assets-Error-Page/Large404.svg');
    position: absolute;
    top: 40px;
    left: 0;
    z-index: -1;
}
.errorpage-header::after{
    content: url('assets-Error-Page/Side404.svg');
    position: absolute;
    top: 140px;
    right: 0;
    z-index: -1;
}
.hr2{
    width: 60%;
}
@media screen and (max-width:1200px){
    .errorpage-header::after{
      transform: scale(0.8);
      transform-origin: top right;
    }
    .errorpage-header::before{
      transform: scale(0.8);
      transform-origin: top left;
    }
}
@media screen and (max-width:991px){
    .errorpage-header::before{
        transform: scale(0.7);
        transform-origin: top left;
    }
    .errorpage-header::after{
        top: 80px;
        transform: scale(0.7);
        transform-origin: top right;
    }
    .error-left{
        display:flex;
        align-items: center;
        width: 35%;
    }
    .error-left img{
        width:300px;
        height: 300px;
    }
    .error-right{
        width: 65%;
    }
}
@media screen and (max-width:767px) {
    .error-left{
        width: 100%;
        flex-direction: column;
    }
    .error-left img{
        width: 328px;
        height: 234px;
    }
    .error-right{
        width: 100%;
        position: relative;
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }
    .errorpage-header > div{
        margin-top: 43px;
        margin-bottom: 25px;
    }
    .hr2{
        width: 95%;
    }
    .error-left p{
        font-family: 'Playfair Display';
        text-align:center;
        font-size: 32px;
        line-height: 42px;
        margin-top: 49px;
    }
    .error-right p:nth-child(2),.error-right p:nth-child(3){
         font-size: 16px;
         line-height: 20px;
    }
    .arrow-img{
        top:86px;
        transform: scale(0.9);
        right: -5%;
        width: 120px;
        height: 120px;
     }
     .error-button{
        font-size: 14px!important;
    }
    .errorpage-header::after{
        display: none;
    }
    .errorpage-header::before{
        top: 130px;
        transform: scale(0.42);
        
        
    }
}
@media screen and (max-width:342px){
    .arrow-img{
        display: none;
    }
}