#loader { 
    border: 12px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 12px solid #FFDE00; 
    width: 70px; 
    height: 70px; 
    animation: spin 1s linear infinite;
}
@keyframes spin{
    0% {
        border-top-color: #FFDE00;
       
    }
    50%{
        border-top-color: #fda502;
        
    }
    100% {
        border-top-color: #FFDE00;
        transform: rotate(360deg);
    }
}
.bg-light1{
    background-color: #fff!important;
}
body{
    visibility: hidden;
}
.center { 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto;
}
body,html{
    height: 100%;
    scroll-behavior: smooth;
}
nav{
    background-color: transparent;
}
nav .container{
    padding-right: 165px;
    padding-left: 165px;
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 1366px;
}
.navbar{
    padding-left: 0!important;
    padding-right: 0!important;
}
.search-icon{
    margin-left: 8%;
    cursor: pointer;
}
.navbar-brand{
    animation:brand 0.3s linear;
    position: relative;
}
@keyframes brand{
    0% {left:-250px;}
    100% {left:0px;}
}
.nav-link{
    color: #000!important;
    opacity: 1!important;
    margin-right: 10px;
    font-family: 'Vision Regular', serif;
    font-size: 16px!important;
}
.dropdown-toggle::after{
    content: url('assets/icons/Dropdown-icon.svg')!important;
    vertical-align: -0.5em!important;
    border-top: none!important;
    border-left: none!important;
}
.hover-yellow{
    position: relative;
}
.hover-yellow:hover::after{
    content: ""; 
    position: absolute;
    width: 50%; 
    border-bottom: 3px solid yellow;
    bottom:-4px;
    left: 0;
    right: 0;
}
header{
    background: url(assets/header_background.svg);
    width: 100%;
    height: 800px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header-illus1{
    position: absolute;
    top: 30%;
    left: -4%;
    animation: line 0.3s linear;
}
@keyframes line{
    0% {left:100%;}
    100% {left:-4%}
}
.header-illus2{
    position: absolute;
    top: 30%;
    right: 0;
    animation: top 0.3s linear;
}
@keyframes top{
    0% {top:-50%}
    100% {top:30%}
}
#header_login,#header_explore{
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 15px;
}
.header_content{
    margin-top: 130px;
    animation: header-content 0.3s linear;
    position: relative;
    width: 32%;
}
.header_illustration{
    width: 66%;
    position: relative;
}
@keyframes header-content{
    0% {left:-200px}
    100% {left:0px}
}
.header_content > div{
    max-width: 310px;
}
.header_content div span:last-child button{
    color:black!important;
    border-width:2px!important;
}
.header_content h2{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 46px;
}
.header_content p{
    font-size: 18px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
}
.search { 
    position: fixed;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
    background-color: #fff;
    z-index: 1031;
    display: none;
}
.search-input{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.search-header{ 
    position: relative;
    width: 100%;
    height: 68px;
}
.logo-searchpage{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    padding-left: inherit;
    padding-right: inherit;
}
.cross-sign{
    top:50%;
    transform: translate(0,-50%);
    right:0%;
    position: absolute;
    cursor: pointer;
    padding-left: inherit;
    padding-right: inherit;
}
.search-input input{
    width: 55vw;
    height: 5vw;
    border-bottom: 3px solid #666666!important;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0 55px;
    font-size: 27px;
    color: #666666;
    font-family: 'Playfair Display';
}
.search-input input::placeholder{
    font-size: 27px;
    font-family: 'Playfair Display';
    text-align: center;
    color: #666666;
    text-transform: uppercase;
}
.search-input input:focus{
    border-bottom: 3px solid #FFDE00!important;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #666666;
    background-color: #fff;
    outline: 0;
    font-size: 27px;
    font-family: 'Playfair Display';
}
.articles{
    background:linear-gradient(
        to right,
        #FFF8CA  0%,
        #FFF8CA  62%,
        white 62%,
        white 100%
    );
    margin-top: 5%;
    padding: 4% 0;
}
.article_carousel_item1 a{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 90%;
}
.article_carousel_item2 a{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 19px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 90%;
    z-index: 1;
}
.article_carousel_item1 .card{
    width: 240px;
    height: 200px;
    border: none!important;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    z-index: 0;
}
.article_carousel_item2{
    border: none!important;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    z-index: 0;
    height: 250px;
    width: 503px;
}
.article_carousel_item1 div:first-child .card-header{
    background: url(https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1140&q=80),linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}
.article_carousel_item1 div:last-child .card-header{
    background: url(https://i.pinimg.com/originals/1d/cc/8c/1dcc8c7b417d81904cd6aaf1bab1b80b.jpg),linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}
.heart-icon{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.heart-icon img{
    width:16px;
    height:16px;
}
.heart-icon-article{
    bottom: 10%;
    right: 7%;
}
.heart-icon-article2{
    right: 4%;
    bottom: 7%;
}
.article_carousel_item2 .card-header{
    background: url(https://wallpaperstock.net/mountains-scenic--aqua-lake-wallpapers_48068_1920x1200.jpg),linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}
.articles .card-header{
    width: 100%;
    height:100%;
    border: none!important;
    position: relative;
}
.article_carousel_item2::before,.article_carousel_item1 > div:first-child::before,.article_carousel_item1 > div:last-child::before{
    content: url('assets/triang_svg.svg');
    position: absolute;
    right: 0;
    top:0;
    z-index: -1;
}
.article_carousel_item2::after,.article_carousel_item1 > div:first-child::after,.article_carousel_item1 > div:last-child::after{
    content: url('assets/triang_svg.svg');
    position: absolute;
    left: 0;
    bottom:0;
    transform: rotate(-180deg);
    z-index: -1;
}
.carousel-indicators .active {
    width: 35px!important;
    height: 12px!important;
    border-radius: 50px!important;
}
.carousel-indicators li {
    width: 12px!important;
    height: 12px!important;
    border: 2px solid #FFDE00 ;
    background-color: #FFDE00 !important;
    border-radius: 50%!important;
    cursor: pointer;
}
.carousel-indicators{
    align-items: center;
}
.carousel-indicators li:first-child{
    margin-right: 1%;
}
.articles .carousel-indicators{
    top:105%;
}
.articles .articles_right::before{
    content: url('assets/Quotes.svg');
    position: absolute;
    top: -23%;
    left: 0;
}
.articles_right h2{
    font-family: 'Playfair Display', serif;
    font-size: 76px;
    font-weight: 600;
}
.articles_right p{
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15%;
    letter-spacing: 1.5%;
}
.articles_right button{
    font-size: 18px;
}
.inspire{
    background:linear-gradient(
        to left,
        #1C1E26  0%,
        #1C1E26  62%,
        white 62%,
        white 100%
    );
    margin-top: 7%;
}
.inspire_item{
    width:240px;
    height: 280px;
    border-radius: 10px;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.95));
    margin: 3% 0;
    z-index: 1;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.heart-icon-inspire{
    right: -2px;
    top: -2px;
}
.inspire_item_row{
    padding: 2% 0;
}
.inspire_item_row > div:first-child{
    margin-top: 10%;
}
.inspire_item > img{
    width:100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    mix-blend-mode: overlay;
    object-fit: cover;
}
.inspire_item_content {
    position: absolute; 
    top:77%;
    left: 5%;
    right: 5%;
    text-align: center;
    font-family: 'Vision Heavy', sans-serif;
    line-height: 32px;
} 
.inspire_item_content a{
    font-size: 24px;
}
.inspire_item_row::before{
    content: url('assets/Quotes.svg');
    position: absolute;
    top: -12%;
    left: 0;
    transform: rotate(-180deg);
}
.inspire_left h2{
    font-family: 'Playfair Display', serif;
    font-size: 76px;
    font-weight: 600;
}
.inspire_left p{
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin-top: 15%;
    color: #fff;
    letter-spacing: 1.5%;
    mix-blend-mode: difference;
}
.inspire_left p:after{
    color:#000;
    font-weight: 400;
}
.subscribe_middle{
    background-color: #eeedec;
    padding: 40px;
}
.subscribe_left{
    width: 42%;
}
.subscribe_right{
    width: 56%;
}
.subscribe_left p:first-child{
    font-size:26px;
    line-height: 40px;
    margin-bottom: 0!important;
    font-family: 'Vision Regular', sans-serif;
}
.subscribe_left p:last-child{
    font-size: 16px;
    font-family: 'Vision', sans-serif;
    line-height: 24px;
    margin-bottom: 0!important;
}
.subscribe_btn{
    font-size: 18px;
    padding: 0.375rem 2.5rem!important;
}
.subscribe_middle .form-group{
    margin-bottom: 0!important;
}
#email1{
    width: 355px;
    border:none;
    padding:4% 8%;
}
#email1::placeholder{
    font-size: 17px;
    font-family: 'Vision';
}
#email1:focus{
    border-color: #FFDE00!important;
    box-shadow: 0 0 0 0.2rem #FFDE00;
    color: #495057;
    background-color: #fff;
    outline: 0;
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
    padding-left: 165px;
    padding-right: 165px;
    max-width: 1366px;
}
.podcasts{
    margin: 5% 0;
    padding: 8% 0;
    background-color: #1C1E26;
}
/*#podcast{
    position: relative;
}*/
#podcast{
    position: initial!important;
}
.podcast-relative{
    position: relative;
}
.podcasts .row{
    align-items: center;
}
.podcast_1{
    background-image: url(https://i.pinimg.com/originals/fd/8b/41/fd8b416abd6a9bb567bdacab4952582a.jpg),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    width: 390px;
    height: 280px;
    padding: 3% 5%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.3);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.podcast-play-button{
    position: absolute;
    bottom:8px;
}
.heart-icon-podcast{
    right: 0px;
    top:0px;
}
.podcast-relative::before{
    content: url('assets/Circular-pattern-in-Podcast-BG.svg');
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.podcast_card_content p{
    font-family: 'Vision Regular';
    font-size: 15px;
}
.podcast-card-title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.podcast-card-title a{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    line-height: 31px;
    font-weight: 600;
    color:#fff;
} 
.podcast-card-title a:hover{
    color:#fff
}
.podcasts_right h2{
    font-family: 'Playfair Display', serif;
    font-size: 76px;
    font-weight: 600;
}
.podcasts_right p{
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15%;
    font-weight: 400;
    letter-spacing: 1.5%;
}
.booksouls_quick::before{
    content: '\201CQuick';
    position: absolute;
    font-size: 25rem;
    color: #FFF8CA;
    font-family: 'Playfair Display';
    font-weight: 600;
    margin-left: 4%;
    z-index: -1;
    overflow: hidden;
    max-width: 100%;
}
.booksouls_quick h2{
    font-family: 'Playfair Display', serif;
    font-size: 76px;
    font-weight: 600;
}
.quick_left p{
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10%;
    color: #042330;
    letter-spacing: 1.5%;
}
.quick_left button{
    font-size: 18px;
}
.booksouls_quick .card{
    width: 240px;
    height: 420px;
    border: none!important;
    border-radius: 10px;
}
.booksouls_quick .card .card-header{
    border: none!important;
    border-radius: 10px;
    padding: 1.25rem 0.46rem!important;
    background-color:#fff!important;
}
.bq-card2,.bq-card4,.bq-card6{
    margin-top: 15%;
}
.booksouls_quick .card-header > p{
    color:#292929;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}
.quick-card-img{
    position: relative;
}
.heart-icon-quick{
    right: 20px;
    top: -5px;
}
.quick-card-title{
    margin-top: 5%;
}
.quick-card-title a{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height:25px;
  color: #042330;
}
.quick-card-title a:hover{
    color: #042330;
}
.booksouls_quick .card-header > img{
    border-radius: 10px;
    width: 100%;
}
.quick-card-img > img{
    width:176px;
    height:265px;
}
.quick_item_bottom{
    padding: 0 1.20rem;
}
.quick_item_bottom span:last-child{
    font-size: 12px;
    line-height: 14px;
    width: 25%;
    text-align: left;
    font-family: 'Vision Regular';
}
.quick_item_bottom span:first-child button{
    font-size: 13px;
}
.quick_item_bottom .audio-icon::before{
    content: url('assets/icons/Headphones.svg');
    display: inline-block;
    margin-left: 15%;
}
.booksouls_quick .carousel-indicators{
    top:105%;
}
.publishers{
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
    background: linear-gradient(
        to bottom,
        #1C1E26  0%,
        #1C1E26  47%,
        white 47%,
        white 100%
    );
}
.publishers_header h2{
    font-size: 76px;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}
.publishers_header p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.publishers .carousel-indicators{
    top:108%;
}
.publishers .card{
    width: 300px;
    border: none!important;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    box-sizing: border-box;
    z-index: 0;
}
.publishers .card::before{
    content: url('assets/triang_svg.svg');
    position: absolute;
    right: 0;
    top: 0;
}
.publishers .card::after{
    content: url('assets/triang_svg.svg');
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(-180deg);
    z-index: -1;
}
.publisher-card-top{
    position: relative;
}
.heart-icon-publisher{
    bottom: -5px;
    right: -5px;
}
.publishers .card img{
    height: 200px;
}
.publishers .row{
    padding: 0 3%;
    height: 450px;
    align-items: center;
}
.pub-button{
    margin-top:10%;
    font-size: 18px;
}
.publishers .card-header{
    padding-top:1.5rem!important;
    padding-left:1.5rem!important;
    padding-right:1.5rem!important;
    padding-bottom: 0.5rem!important;
    height: 100%;
    border: none!important;
    background-color: rgba(0, 0, 0, 0);
}
.pub_card_content{
    line-height: 31px;
}
.pub_card_content a{
    color:#042330;
    font-family: 'Playfair Display', serif;
    font-size: 19px;
    z-index:1;
}
.pub_card_content a:hover{
    color:#042330;
}
.pub_card_content + p{
    font-family: 'Vision Regular', sans-serif;
    font-size: 14px;
    margin-top: 5%;
    color:#292929;
}
.hr{
    width:65%;
    background-color: #dddbdb;
}
.footer_subscribe{
    padding: 0 80px;
}
.email{
    padding-top: 2%;
    padding-bottom: 2%;
}
.email .form-group{
    width: 100%;
}
 .email p:first-child{
   font-size:36px;
   font-weight: 500;
   font-family:'Playfair Display', serif;
   letter-spacing: 2%;
}
.email p:nth-child(2){
   font-size:1.3rem;
   font-family: 'Vision Regular', sans-serif;
}
#usr{
   border:none;
   padding:0.9rem 0;
   border-radius: 5px;
   padding-left: 10%;
   background-color: rgba(0, 0, 0, 0.06);
   width: 95%;
}
#usr:focus{
    border-color: #FFDE00!important;
    box-shadow: 0 0 0 0.2rem #FFDE00;
    color: #495057;
    background-color: #fff;
    outline: 0;
}
#usr::placeholder{
    font-size: 19px;
    font-family: 'Vision', sans-serif;
}
.email .sub_button button{
   border-width: 2.5px!important;
   border-radius: 7px;
   padding: 0.65rem 2.5rem;
   font-size: 19px;
   font-family: 'Vision';
}
footer{
    font-family: 'Vision Regular', sans-serif;
}
footer{
    background: url(assets/footer_bg2.png),linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75));
    background-blend-mode: lighten;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}
.footer-logo{
    width: 25%;
}
.footer-links{
    width:75%;
}
.footer-logo img{
    width: 190px;
    height: 58px;
}
.footer-logo p{
    font-size: 18px;
    letter-spacing: 0.8%;
}
.footer-logo p span{
    font-size: 18px;
    font-family: 'Vision Heavy';
}
footer ul{
    list-style-type: none;
}
footer li a{
    text-decoration: none;
    color:#444444;
}
footer ul li{
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing:0.8%;
}
footer ul li:first-child{
    font-size: 20px;
    letter-spacing:0.8%;
    margin-bottom: 15px;
}
footer ul li:first-child a{
    color:#042330
}
footer li a:hover{
    color:#444444;
}
.footer{
    padding-top: 5%;
}
.footer-illustration{
    height: 100px;
    position: relative;
    width: 16%;
}
.footer-illustration img{
    width: 240px;
    position: absolute;
    bottom:-5px;
}
.facebook-logo img,.pin-logo img{
   width:25px;
   height: 25px;
}
.twitter-logo img,.insta-logo img{
    width:28px;
   height: 28px;
}
.footer_in{
    align-items: flex-end;
}
.footer_p .dot::before{
    content: '';
    display: inline-block;
    width: 3.5px;
    height: 3.5px;
    background-color: #000;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.footer_p p{
    font-size: 16px;
    margin-bottom: 0rem!important;
}
.footer-social-links{
    margin-bottom: 3.2px;
}
.footer_last{
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.5% 0;
}
.footer_last p{
    margin-bottom: 0px!important;
    font-size: 14px;
    letter-spacing:0.8%;
    color: #454545;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.text-warn{
    color:#FFDE00!important; 
}
.btn-warning{
    background-color: #FFDE00!important;
    border-color: #FFDE00!important;
}
.btn-warning:hover{
    background-color: #ffc107!important;
    border-color: #ffc107!important;
}
.btn-outline-warning{
    border-color: #FFDE00!important;
}
.btn-outline-warning:hover{
    background-color: #FFDE00!important;
}

@font-face{
    font-family: Vision;
    src:url('assets/Vision/Vision-Light.ttf');
}
@font-face{
    font-family: Vision Regular;
    src:url('assets/Vision/Vision-Regular.ttf');
}
@font-face{
    font-family: Vision Heavy;
    src:url('assets/Vision/Vision-Heavy.ttf');
}
.btn{
    font-family: 'Vision Regular'!important;
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
    padding-left: 165px;
    padding-right: 165px;
    max-width: 1366px;
}
@media screen and (max-width:576px){
    .wrapper{
        padding-left: 16px;
        padding-right: 16px;
        max-width: 100%;
    }
   /* .inspire .wrapper,.articles .wrapper{
        padding-right: 0px;
    }*/
    .btn{
        font-size: 0.7rem!important;
    }
    .heart-icon{
        position: absolute;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: flex;
        align-items:center;
        justify-content: center;
    }
    .heart-icon img{
        width:14px;
        height:14px;
    }
    .carousel-indicators .active {
        width: 35px!important;
        height: 8px!important;
    }
    .carousel-indicators li {
        width: 8px!important;
        height: 8px!important;
    }
    .hr{
        width:95%;
    }
    .navbar-brand{
        margin-right: 0!important;
        animation: none;
    }
    .navbar-brand img{
        width: 100px;
        height: 30px;
    }
    .header-illus1{
        position: relative;
        width:45%;
        animation: none;
    }
    .header-illus2{
        position: relative;
        width: 45%;
        animation: none;
    }
    .header_content{
        margin-top: 5px;
        animation: none;
        width: 100%;
    }
    .header_content .clearfix{
        padding-left: 8.5%;
        padding-right: 8.5%;
        margin-left: auto;
        margin-right: auto;
    }
    .header_illustration{
        width: 100%;
        margin-top: 30%;
        text-align: center;
    }
    .header_illustration h2{
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        font-size: 22px;
    }
    .header_content p{
        font-size: 12px;
        line-height: 16px;
        text-align: center;
    }
    #header_login,#header_explore{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-size: 15px;
    }
    nav .container{
        max-width: 100%;
    }
    .navbar{
        padding-left: 16px!important;
        padding-right: 16px!important;
        position: fixed!important;
        top:0;
        left: 0;
        right: 0;
        z-index: 1030;
        background-color: #fff;
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.04);
        height: 70px;
        max-width: 100%;
    }
    .offcanvas-header{ display:block; }
    .offcanvas-active{position: relative;}
    .offcanvas-active::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color:rgba(0, 0, 0, 0.8);
        z-index: 1;
       }
    .navbar-collapse {
      position: fixed;
      top:0; 
      bottom: 0;
      right: 100%;
      width: 80%;
      padding-left: 4%;
      padding-right: 5%;
      overflow-y: auto;
      visibility: hidden;
      background-color: white;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
      transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
    }
    .search-icon{
        margin-left: 0;
    }
    .navbar-collapse.show {
      visibility: visible;
      transform: translateX(100%);
    }
    .navbar-toggler{
        border-color: transparent!important;
    }
    header{
        height: 145vw;
        background-image: url('assets-Home-mobile/HeaderdesignBG.svg');
    }
    .articles{
        background:none;
        margin-top: 5%;
        padding: 1% 0;
        position: relative;
    }
    .articles::before{
        content: '';
        position: absolute;
        right:10%;
        left:0;
        top:8%;
        bottom:40%;
        background-color: #FFF8CA;
    }
    .articles_right h2{
        font-size: 35px;
        text-align: left;
    }
    .articles_right p{
        font-size: 12px;
        margin-top: 5%;
        width: 87%;
        margin-left: auto;
        margin-right: auto;
    }
    .article_carousel_item2{
        height: 150px;
        width: 310px!important;
    }
    #article .carousel-inner{
        overflow-x: scroll!important;
    }
    #article .carousel-item > div{
        overflow-x: scroll!important;
        overflow-y: hidden!important;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    #article .carousel-inner::-webkit-scrollbar, #article .carousel-item > div::-webkit-scrollbar{
     display: none;
     }
  
     /* Hide scrollbar for IE, Edge and Firefox */
     #article .carousel-inner, #article .carousel-item > div{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
     } 
    .articles .articles_right::before{
        top: -40%;
        left: auto;
        right: -9%;
        transform: scale(0.5);
    }
    .article_carousel_item1 .card{
        width: 220px;
        height: 150px;
        border: none!important;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
        z-index: 0;
    }
    #article .carousel-item,#article .carousel-item > div{
        width: 800px;
    }
    .article_carousel_item1 a{
        font-size: 12px;
    }
    .article_carousel_item2 a{
        font-size: 12px;
    }
    .heart-icon-article{
        top: 7%;
        right: 6%;
    }
    .heart-icon-article2{
        right: 4%;
        top: 7%;
    }
    .article_carousel_item2::before,.article_carousel_item1 > div:first-child::before,.article_carousel_item1 > div:last-child::before{
        right: -15px;
        top:-15px;
        transform: scale(0.7);
    }
    .article_carousel_item2::after,.article_carousel_item1 > div:first-child::after,.article_carousel_item1 > div:last-child::after{
        left: -15px;
        bottom:-15px;
        transform: scale(0.7) rotate(-180deg);
    }
    .article_carousel_item1 .card{
        box-shadow: none;
    }
    .article_carousel_item2{
        box-shadow: none;
    }
    .podcasts{
        margin: 10% 0;
        padding: 5% 0;
    }
    .podcast-card-title a{
        font-size: 18px;
        line-height: 21px;
        font-weight: 600;
        color:#fff;
    } 
    .podcasts_right h2{
        font-size: 35px;
    }
    .podcasts_right p{
        font-size: 12px;
        margin-top: 5%;
    }
    #podcast{
        margin-top: 15%;
    }
    .podcast_1{
        width: 76vw;
        height: 170px;
        margin-left: auto;
        margin-right: auto;
    }
    .podcast-relative::before{
    transform: translate(-50%,-53.5%) scale(0.5);
    }
    .heart-icon-podcast{
    right: 0px;
    top:0px;
    }
    .podcast-play-button img{
    width: 33px;
    height: 33px;
    }
    .podcast-play-button{
    position: absolute;
    bottom:17px;
    }
    .podcast_card_content p{
    font-family: 'Vision Regular';
    font-size: 11px;
    }
    .booksouls_quick::before{
        font-size: 7.8rem;
        margin-left: 0;
        margin-top: 48%;
    }
    .booksouls_quick h2{
        font-size: 35px;
    }
    .quick_left p{
        font-size: 14px;
        margin-top: 2%;
    }
    .quick_left button{
        font-size: 12px;
    }
    .booksouls_quick .card{
        width: 200px;
        height: 350px;
    }
    .bq-card1,.bq-card3,.bq-card5{
        margin-left: auto;
        margin-right: auto;
    }
    .booksouls_quick .card-header > p{
        font-size: 12px;
        line-height: 17px;
    }
    .quick-card-img{
        position: relative;
    }
    .heart-icon-quick{
        right: 15px;
        top: -5px;
    }
    .quick-card-title{
        margin-top: 5%;
    }
    .quick-card-title a{
      font-size: 14px;
      line-height:18px;
    }
    .quick_item_bottom span:last-child{
        font-size: 10px;
        line-height: 14px;
        width: 30%;
    }
    .quick_item_bottom span:first-child button{
        font-size: 10px;
    }
    .quick_item_bottom .audio-icon::before{
        margin-left: 5%;
        transform: scale(0.8);
    }
    .quick-card-img > img{
        width:150px;
        height:220px;
    }
    .publishers{
        margin-top: 15%;
    }
    .publishers_header h2{
        font-size: 35px;
    }
    .publishers_header p{
        font-size: 13px;
    }
    .publishers .card{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .publishers .card::before{
        right: -14px;
        top:-15px;
        transform: scale(0.7);
    }
    .publishers .card::after{
        left: -14px;
        bottom:-15px;
        transform: scale(0.7) rotate(-180deg);
    }
    .publishers .card img{
        height: 140px;
    }
    .publishers .row{
        height: 320px;
    }
    .publishers .card-header{
        padding-top:1.2rem!important;
        padding-left:1.2rem!important;
        padding-right:1.2rem!important;
    }
    .pub_card_content{
        line-height: 19px;
    }
    .pub_card_content a{
        font-size: 13px;
    }
    .pub_card_content + p{
        font-size: 10px;
        margin-top: 7%;
    }
    .pub-button{
        margin-top: 15%;
    }
    .inspire{
        background:none;
        margin-top: 7%;
        position: relative;
    }
    .inspire::before{
        content: '';
        position: absolute;
        right:0;
        left:11%;
        top:16%;
        bottom:30%;
        background-color: #1C1E26;
    }
    .inspire_item{
        width:150px;
        height: 160px;
        margin: 3% 2%;
    }
    .inspire_right{
     overflow: hidden;
    }
    .inspire_item_row{
        padding: 2% 0;
        animation: marquee 5s linear infinite;
        width: 600px;
    }
    @keyframes marquee{
        0% {
            transform: translateX(60%);
          }
          100% {
            transform: translateX(-100%);
          }
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .inspire_item_row::-webkit-scrollbar{
        display: none;
        }
     
        /* Hide scrollbar for IE, Edge and Firefox */
        .inspire_item_row{
       -ms-overflow-style: none;  /* IE and Edge */
       scrollbar-width: none;  /* Firefox */
        }
    .inspire_item_row > div:first-child{
        margin-top: 0%;
    }
    .inspire_item_content {
        line-height: 18px;
    } 
    .inspire_item_content a{
        font-size: 13px;
    }
    .inspire_left h2{
        font-size: 35px;
        text-align: right;
        padding-right: 16px;
    }
    .inspire_left p{
        font-size: 12px;
        margin-top: 8%;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .inspire_item_row::before{
        top: -73%;
        left: -9%;
        transform: scale(0.4) rotate(-180deg);
    }
    .footer_subscribe{
        padding: 0px;
    }
    .email p:first-child{
        font-size:25px;
     }
     .email p:nth-child(2){
        font-size:0.9rem;
     }
     #usr{
        padding-top:0.6rem;
        padding-bottom: 0.6rem;
        padding-left: 10%;
        margin-left: auto;
        margin-right: auto;
     }
     #usr::placeholder{
         font-size: 12px;
     }
     .email .sub_button button{
        padding: 0.65rem 2rem;
     }
     .footer-logo{
        width: 100%;
    }
    .footer-links{
        width: 90%;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    footer ul{
        padding-left: 20px!important;
    }
    footer ul li{
        margin-bottom: 5px;
        font-size: 13px;
        letter-spacing:0.8%;
    }
    footer ul li:first-child{
        font-size: 14px;
        letter-spacing:0.8%;
        margin-bottom: 15px;
    }
    .footer-logo img{
        width: 80px;
        height: 25px;
    }
    .footer-logo p{
        font-size: 12px;
        letter-spacing: 0.8%;
    }
    .footer-logo p span{
        font-size: 12px;
        font-family: 'Vision Heavy';
    }
    .footer-illustration{
        height: 50px;
        position: relative;
        width: 50%;
    }
    .footer-illustration img{
        width: 80px;
        position: absolute;
        bottom:0;
    }
    .facebook-logo img,.pin-logo img{
        width:20px;
        height: 20px;
     }
     .twitter-logo img,.insta-logo img{
         width:23px;
        height: 23px;
     }
    .footer_in{
        align-items: center;
        padding-left: 40px;
        padding-right: 30px;
    }
    .footer_p{
        margin-top: 7%;
        position: relative;
        left: -5px;
    }
    .footer_p .dot::before{
        width: 2px;
        height: 2px;
       vertical-align: middle;

    }
    .footer_p p{
        font-size: 10px;
    }
    .footer_last p{
        font-size: 10px;
    }
    .footer_last img{
        width: 12px;
        height: 12px;
    }
    .footer-social-links{
        margin-bottom: 0px;
    }
    .search-header{ 
        height: 70px;
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.04);
    }
    .logo-searchpage img{
        width: 100px;
        height: 30px;
    }
    .search-input input{
        width: 95vw;
        height: 10vw;
        padding: 0 15px;
        font-size: 13px;
    }
    .search-input input::placeholder{
        font-size: 13px;
    }
    .search-input input:focus{
        font-size: 13px;
    }
}
