html{
    height: 100%;
}
body{
    display:flex;
    flex-direction: column;
    min-height: 100%;
}
footer{
    margin-top: auto;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}
footer p{
    font-size: 2rem;
}
footer ul{
    list-style-type: none;
    position: relative;
    left: -14px;
}
footer li{
    display: inline-block;
    color: white;
    margin: 5% 5px;
}
footer li a{
    color: white;
    font-size: 0.8rem;
}
.fdash{
    margin-left:9px;
}
.carousel-item img{
    object-fit: cover;
    max-width: 100%;
    height: 420px;
}
.navbar{
    background-color: transparent!important;
    position: absolute!important;
    z-index: 1;
    width: 100%;
}
.nav-link{
    color:white!important;
    text-shadow: 0 0 5px black;
}
.carousel-indicators{
    right: 0!important;
    bottom: 0!important;
    top: 0!important;
    flex-direction: column!important;
    margin-right: 1%!important;
    left:auto!important;
}
.carousel-indicators .active{
    background-color:#fff!important;
}
.carousel-indicators li{
    width: 15px!important;
    height: 15px!important;
    border-radius: 50%!important;
    margin-top: 15px;
    background-color: black!important;
    border:2px solid white;
}
.carousel-caption{
    top:22%;
}
.carousel-caption p:nth-child(2){
    font-size: 1.5rem;
}
.carousel-caption p{
    text-shadow: 2px 2px 5px black;
}
.subscribe{
    background-color: #e1e9f1;
}
#email1{
    font-family: fontawesome;
}
.content{
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    color:rgba(0,0,0,0.7);
}
.card-header{
    font-size: 0.8rem;
}
.card-img-top{
    height: 200px;
    object-fit: cover;
}
.card-body{
    font-size: 0.6rem;
    height:60px;
}
.card{
    margin-top: 10%;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.category{
    display: flex;
    flex-direction: column;
    width:60%;
    margin: 1% auto;
}
.category button {
    border-radius: 50px;
    height: 30px;
    margin:0 7px;
}
.line::after{
    content: attr(data-content);
    position: relative;
    background:transparent;
    top:-13px;
    z-index: 2;
}
.hr span{
    display: inline-block;
    width: 6%;
    border-bottom: 2px solid white;
    position: relative;
    top:-3px;
}
.hr span:first-child{
    left:-8px;
}
.hr span:last-child{
    left:8px;
}
.btn-teal{
    background-color:rgb(98, 207, 144);
    color: white;
}
.text-teal{
    color:rgb(98, 207, 144);
}
.btn-outline-teal{
    background-color:white;
    border-color: rgb(98, 207, 144)!important;
    color:rgb(98, 207, 144);
}
.btn-outline-teal:hover{
    background-color:rgb(98, 207, 144);
    color: white;
}
.doodle_top{
    margin-left: 25%;
    position: relative;
    top:30px;
}
.doodle_bottom{
    margin-left: 51%;
    position: relative;
    top:-38px;
}
@media screen and (min-width:600px){
    .navbar-nav li:last-child{
        position: relative;
        left:50px;
    }
    .carousel-item img{
        width: 100%;
        height: 420px;
    }
    .subscribe .row div:first-child{
        position: relative; 
        top:8px;
    }
    .subscribe .row div:last-child{
        position: relative; 
        top:8px;
    }
    .card{
        width: 220px;
    }
    .card_row{
        padding: 0 1%;
    }
    .last_article .card{
        flex-direction: row!important;
        width: 330px;
    }
    .last_article .card img{
        width:100px;
        height: 100%;
    }
    .doodle_top{
        margin-left: 38%;
    }
    .doodle_bottom{
        margin-left: 53%;
    }
    .category{
        display: inline;
    }
    .category button {
        margin:0 1px;
    }
}
@media screen and (min-width:900px){
    .navbar-nav li:last-child{
        position: relative;
        left:160px;
    }
    .carousel-item img{
        height: 600px;
       
    }
    .subscribe .row div:first-child{
        left: 40px;
    }
    .subscribe .row div:last-child{
        right: 50px;
    }
    .card{
        width: 280px;
        margin-top: 1%;
    }
    #articles .card{
        margin-top: 10%;
    }
    .card_row{
        padding: 0 3%;
    }
    .last_article .card{
        flex-direction: row!important;
        width: 420px;
    }
    .last_article .card img{
        width:200px;
        height: 100%;
    }
    .doodle_top{
        margin-left: 42%;
    }
    .doodle_bottom{
        margin-left: 51%;
    }
    .carousel-caption{
        top:35%;
    }
    .carousel-caption p:nth-child(2){
        font-size: 3rem;
    }
    .category button {
        margin:0 7px;
    }
}
@media screen and (min-width:1200px){
    .navbar-nav li:last-child{
        position: relative;
        left:280px;
    }
    .card{
        width: 300px;
    }
    .card_row{
        padding: 0 8%;
    }
    .last_article .card{
        width: 460px;
    }
    .doodle_top{
        margin-left: 44%;
        position: relative;
        top:30px;
    }
    .doodle_bottom{
        margin-left: 51%;
        position: relative;
        top:-38px;
    }
}