.inspireaudio-navigation{
    margin-top: 80px;
    margin-bottom: 40px;
}
.body-background{
    position: relative;
    overflow: hidden;
}
.body-background::before{
    content: url('assets-InspireMe/BG-Shapes-2.svg');
    position: absolute;
    right: 0;
    bottom:300px;
    z-index: -1;
}
.body-background::after{
    content: url('assets-InspireMe/BG-shapes.svg');
    position: absolute;
    left:0;
    top: -650px;
    z-index: -1;
}
.audio-container{
    margin-top: 94px;
    margin-bottom:54px;
}
.millionaire-links{
    margin-top:110px;
    margin-bottom:68px;
}
@media screen and (max-width:1199.98px){
    .body-background::before{
        top:auto;
        transform:scale(0.8);
        transform-origin: right bottom;
    }
    .body-background::after{
        top:-400px;
        transform:scale(0.8);
        transform-origin: left top;
    }
}
@media screen and (max-width:991.98px){
    .body-background::before{
        right: 0;
        top: -4%;
        transform:scale(0.45);
        transform-origin: right top;
    }
    .body-background::after{
        left:0;
        top: -16%;
        transform:scale(0.45);
        transform-origin: left top;
    }
    .millionaire-img{
        left:0;
    }
    .millionaire-title{
        left: -30px;
    }
    .audio-container{
        margin-top:15%;
    }
}
@media screen and (max-width:767.98px){
    .inspireaudio-navigation{
        margin-top: 10px;
        margin-bottom: 40px;
        position: relative;
        top: 220px;
        line-height: 15px;
        height: 35.2px;
    }
    .body-background{
        position: relative;
        overflow-x: hidden;
    }
    .body-background::before{
        right: 0;
        top: 33%;
        transform:scale(0.4);
        transform-origin: right top;
    }
    .body-background::after{
        left:0;
        top: -8%;
        transform:scale(0.28);
        transform-origin: left top;
    }
    .audio-container{
        margin-top: 94px;
        margin-bottom: 56px;
    }
}