.inspire-navigation{
    margin: 40px 165px;
}
.top-nav{
    margin: 0 5px;
    font-family: 'Vision Regular';
}
a.top-nav{
    color: #042330;
    opacity: 0.8;
    text-decoration: underline;
}
a.top-nav:hover{
    color: #042330;
    text-decoration: none;
}
img{
    object-fit: cover;
}
.millionaire-title{
    padding: 50px 30px;
    position: relative;
    left: -15px;
    background-color: #fff;
    position: relative;
}
.millionaire-title h2{
    font-size: 40px;
    font-family: 'Playfair Display';
    font-weight: 600;
}
.millionaire-img{
    position: relative;
    left: 15px;
}
.heart-icon-mill{
    bottom: -5px;
    right: -5px;
}
.millionaire-cont{
    margin-left: 350px;
    margin-right: 350px;
}
.millionaire-cont p{
    font-size: 21px;
    font-family: 'Montserrat',sans-serif;
    line-height: 31px;
}
.millionaire-cont q{
    font-family: 'Playfair Display';
    font-size: 24px;
}
.millionaire-cont cite{
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 23px;
}
.millionaire-cont h3{
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    margin-bottom: 4%;
}
.body::before{
    content: url('assets-InspireMe/BG-Shapes-2.svg');
    position: absolute;
    right: 0;
    top: -53%;
    z-index: -1;
}
.body::after{
    content: url('assets-InspireMe/BG-shapes.svg');
    position: absolute;
    left:0;
    top: -85%;
    z-index: -1;
}
.related-heading h2{
    font-size: 26px;
    font-family: 'Playfair Display';
    font-style: italic;
}
.related{
    margin-left: 165px;
    margin-right: 165px;
}
.millionaire-links{
    margin-left: 250px;
    margin-right: 250px;
}
.hr2{
    margin-left: 250px;
    margin-right: 250px;
}
.share-left p{
    font-family: 'Montserrat',sans-serif;
    font-size: 19px;
    font-weight: 500;
    opacity: 0.7;
}
.social-links a{
    margin-right: 10px;
}