.error-left{
    width: 48%;
    text-align: center;
}
.offline-warning{
    width:300px;
    height: 300px;
}
.error-right{
    width: 48%;
    position: relative;
    max-width: 500px;
}
.error-right p:first-child{
    font-size: 45px;
    font-family: 'Playfair Display';
    line-height: 50px;
}
.error-right p:nth-child(2),.error-right p:nth-child(3){
     font-size: 24px;
     font-family: 'Montserrat';
     margin-bottom: 0!important;
     line-height: 31px;
}
.arrow-img{
   position: absolute;
   bottom: 3%;
   right: 0;
   width: 150px;
   height: 150px;
   z-index: -1;
}
.retry-button{
    margin-top: 15%;
    font-size: 20px!important;
    font-family: 'Vision Regular';
}
.errorpage-header{
    position: relative;
}
.errorpage-header > div{
    margin-top: 167px;
    margin-bottom: 96px;
}
.hr2{
    width: 60%;
}
@media screen and (max-width:991px){
    .error-left{
        display:flex;
        align-items: center;
        width: 35%;
    }
    .offline-warning{
        width:200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .error-right{
        width: 65%;
    }
}

@media screen and (max-width:767px) {
    .error-left{
        width: 100%;
        flex-direction: column;
    }
    .offline-warning{
        width:250px;
        height: 250px;
    }
    .error-right{
        width: 100%;
        max-width: 330px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .errorpage-header > div{
        margin-top: 43px;
        margin-bottom: 25px;
    }
    .hr2{
        width: 95%;
    }
    .error-left p{
        font-family: 'Playfair Display';
        text-align:center;
        font-size: 32px;
        line-height: 42px;
        margin-top: 49px;
    }
    .error-right p:nth-child(2),.error-right p:nth-child(3){
         font-size: 17px;
         line-height: 24px;
         margin-left: auto;
         margin-right: auto;
    }
    .arrow-img{
        bottom: 0%;
        right: 0%;
        width: 110px;
        height: 110px;
     }
     .retry-button{
        font-size: 14px!important;
    }
    .errorpage-header::after{
        display: none;
    }
}
@media screen and (max-width:342px){
    .arrow-img{
        display: none;
    }
    body{
        overflow-x: scroll;
    }
}