.podcast-top{
    margin-top: 5%;
    margin-bottom: 5%;
}
.podcast-header-left{
    width: 45%;
}
.podcast-header-right{
    width: 45%;
    margin-top: 80px;
    margin-left: auto;
    margin-right:auto;
}
.podcast-stack3,.podcast-stack2,.podcast-stack1{
    position: relative;
    border-radius: 10px;
    background-position: center;
    background-blend-mode: overlay;
}
.podcast-stack{
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.podcast-stack > a{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    z-index: 1;
}
.podcast-stack3{
    background: url(https://images.unsplash.com/photo-1568458276348-15bef7703037?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    height:230px;
    width: 340px;
}
.podcast-stack2{
    background: url(https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    height:230px;
    width: 340px;
}
.podcast-stack1{
    background: url(https://images.unsplash.com/photo-1544551763-77ef2d0cfc6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80),linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    height:230px;
    width: 340px;
}
.podcast-stack-play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.podcast-stack-play img{
    width: 70px;
    height: 70px;
}
.podcast-header-left h2{
    font-size: 38px;
    font-family: 'Playfair Display';
}
.podcast-header-left p{
    font-family: 'Montserrat';
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 0!important;
}
.tab-content-home .carousel,.podcast-recomm .carousel,.podcast-genre .carousel,.podcast-creativity-container .carousel,.podcast-lifestyle-container .carousel{
    position: initial;
}
.tab-content-home,.podcast-recomm,.podcast-creativity-container,.podcast-lifestyle-container{
    position: relative;
}
.tab-home-controls{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}
.previous{
    background-color: #fff;
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid #FFDE00;
    cursor:default;
}
.previous span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #FFDE00;
    line-height:1;
}
.next span:hover, .previous span:hover{
    text-decoration: none;
}
.next span:hover{
    color: #042330;
}
.previous span:hover{
    color: #FFDE00;
}
.next{
    background-color: #FFDE00;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 20px;
}
.next span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #042330;
    line-height:1;
}
.podcast-card{
    position: relative;
    width: 180px;
    height: 180px;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    margin: 2% 0;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.06);
}
#pod-tab-home .podcast-card-container{
    margin-top: 1%;
    margin-bottom:1%;
    position: relative;
}
.podcast-block-link{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 1;
}
.podcast-card-background{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    mix-blend-mode: multiply;
}
.podcast-card-play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.podcast-card-play img{
    width:70px;
    height: 70px;
}
.podcast-card-heart-icon{
    right: -5px;
    top:-5px;
    z-index: 2;
}
.podcast-recomm{
    position: relative;
    width: 37%;
}
.pod-recomm-card{
    height: 70px;
    width: 98%;
    border: none!important;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.06)!important;
    margin: 3% auto;
    border-radius: 5px!important;
}
.pod-recom-content{
    background-color: #fff!important;
    border: none!important;
    width: 100%;
    padding: 0.75rem!important;
    border-radius: 5px;
}
.pod-recom-content > p{
    margin-bottom: 0!important;
}
.pod-recom-content > p:first-child{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
}
.pod-recom-content > p:nth-child(2){
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 12px;
}
.pod-recomm-img img{
    width:70px;
    height: 100%;
    border-radius: 5px;
}
.pod-recom-heart-icon{
    top:50%;
    transform:translate(0,-50%);
    right: 15%;
}
.pod-recomm-play{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 2%;
}
.pod-recomm-play img{
    width: 35px;
    height: 35px;
}
.pod-lifestyle-heading h2,.pod-creativity-heading h2{
    font-size: 26px;
    font-family: 'Playfair Display';
    font-style: italic;
}
.pod-tab-title p{
    font-size: 22px;
    font-family: 'Playfair Display';
    font-style: italic;
}
.podcast-card-container{
    position: relative;
   /* height: 250px;*/
   width: 180px;
}
/*.podcast-card-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}*/
.podcast-card-desc p{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
}
.podcast-genre{
    width: 60%;
    position: relative;
}
.genre-card-container a{
    margin: 4% 0;
}
/*@media screen and (max-width:1366px){
    #pod-tab-home .carousel-inner{
        max-width: 1078px;
        margin-left: auto;
        margin-right: auto;
    }
}*/
@media screen and (max-width:1200px){
    .genre-card-container a img{
        width:110px;
    }
}
@media screen and (max-width:991px){
 .genre-card-container a img{
     width:100px;
 }
 .genre-card-container a{
     margin:2% 0;
 }
 .podcast-card{
    width:140px;
    height: 140px;
 }
 .podcast-card-desc p{
   font-size: 20px;
   line-height:24px;
 }
 .podcast-card-container{
     width:140px;
 }
 .podcast-stack{
     width:300px;
     margin-left: auto;
     margin-right: auto;
     height: 200px;
 }
 .podcast-header-left p{
     font-size:20px;
     line-height:24px;
 }
 .podcast-genre{
     margin-left: auto;
     margin-right: auto;
     width:590px;
 }
/*#pod-tab-home .carousel-inner{
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}*/
}
@media screen and (max-width:767px){
    .podcast-top{
        margin-top: 90px;
        margin-bottom: 5%;
    }
    .podcast-header-left{
        width: 100%;
    }
    .podcast-header-right{
        width: 100%;
        margin-top: 8%;
    }
    .podcast-stack3,.podcast-stack2,.podcast-stack1{
        height:170px;
        width: 250px;
        margin-left: auto;
        margin-right:auto;
    }
    .podcast-stack-play img{
        width: 50px;
        height: 50px;
    }
    .podcast-header-left h2{
        font-size: 30px;
    }
    .podcast-header-left p{
        font-family: 'Montserrat';
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0!important;
    }
    .tab-content-home{
        width: 100%;
    }
    .tab-content-explore{
        width: 100%;
    }
    .tab-content-genre{
        width: 100%;
    }
    .podcast-recomm,.podcast-genre{
        width: 100%;
    }
    .podcast-genre{
        margin-top:6%;
    }
    .genre-card-container{
        padding:0 8%;
    }
    .genre-card-container a{
        width:30%;

    }
    .genre-card-container a img{
        width:100%;
    }
    #pod-tab-home .carousel-item,#pod-recom-mobile .carousel-item{
        overflow-x:scroll;
    }
    .podcast-creativity,.podcast-lifestyle{
        overflow-x:scroll;
    }
    #pod-tab-home .carousel-item::-webkit-scrollbar,#pod-recom-mobile .carousel-item::-webkit-scrollbar,.podcast-creativity::-webkit-scrollbar,.podcast-lifestyle::-webkit-scrollbar{
        display: none;
    }
    #pod-tab-home .carousel-item,.podcast-creativity,.podcast-lifestyle,#pod-recom-mobile .carousel-item{
   -ms-overflow-style: none; 
   scrollbar-width: none; 
    } 
    .podcast-card-container{
        margin-right: 15px;
    }
    .pod-lifestyle-heading h2,.pod-creativity-heading h2{
        font-size: 20px;
    }
    .pod-tab-title p{
        font-size: 20px;
    }
    .previous,.next{
        width: 24px;
        height: 24px;
    }
    .next{
        margin-left:10px;
    }
    .podcast-card-desc p{
        font-size: 18px;
        line-height: 22px;
    }
    .pod-recom-content > p:first-child{
        font-size: 14px;
        line-height:25px;
    }
    .pod-recom-content > p:nth-child(2){
        font-size: 12px;
    }
    .tab-mobile-links{
        margin-left:auto;
        margin-right:auto;
    }
    .tab-mobile-links button{
        margin-left:10px;
        margin-right:10px;
    }
    button.tab-active{
        background-color:#FFDE00;
    }
    .podcast-header-left h2{
        position: relative;
    }
    .podcast-header-left h2::before{
        content: "";
        left: 0;
        right: 0;
        bottom: -9%;
        position:absolute;
        border-bottom: 2px solid #FFDE00;
        width:20%;
    }
    .pod-genre-buttons button{
        margin: 7px 11px 7px 0;
        border-width: 1.7px!important;
    }
}

