.publisher-header-left{
    width: 45%;
    margin-top: 10%;
}
.publisher-header-right{
    width: 45%;
    position: relative;
}
.pub-background-img1{
    position: absolute;
    top: 18%;
    right: 230px;
}
.pub-background-img2{
    position: absolute;
    top: 0;
    right: 0;
}
.pub-background-img3{
    position: absolute;
    right: 0;
    top: 40%;
}
.publisher-header-left h2{
    font-size: 38px;
    font-family: 'Playfair Display';
}
.publisher-header-left p{
    font-family: 'Montserrat';
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 0!important;
}
.publisher-top{
    position: relative;
    /*margin-top: 5%;*/
    margin-bottom: 8%;
}
/*.publisher-top::before{
    content: url('assets-Publishers-Page/HeaderDesign1-LeftSide.svg');
    position: absolute;
    left: 0;
    top: 0;
}*/
.publisher-top::after{
    content: url('assets-Publishers-Page/HeaderDesign2-LeftSide.svg');
    position: absolute;
    left: 0%;
    top: 0;
}
.quick-tab-title p{
    font-size: 26px;
    font-family: 'Vision Regular';
    margin-bottom: 0!important;
}
.publisher-tab-home{
    width: 100%;
    position: relative;
    
}
.publisher-home-title p{
    font-size: 22px;
    font-family: 'Playfair Display';
    font-style: italic;
}
#tab-most-viewed,#tab-trending,#tab-recent,#tab-recent2{
    position: initial;
}
.publisher-tab-most-viewed,.publisher-tab-trending,.publisher-tab-recent{
    position: relative;
}
.controls{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}
.previous{
    background-color: #fff;
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid #FFDE00;
    cursor:default;
}
.previous span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #FFDE00;
    line-height: 1;
}
.next span:hover, .previous span:hover{
    text-decoration: none;
}
.next span:hover{
    color: #042330;
}
.previous span:hover{
    color: #FFDE00;
}
.next{
    background-color: #FFDE00;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 20px;
}
.next span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #042330;
    line-height:1;
}
.publisher-home-card{
    position: relative;
    height: 250px;
}
.home-card-img > img{
    width: 230px;
    height: 170px;
    border-radius: 5px;
}
.heart-icon-home-card{
    right: -5px;
    top:-5px;
}
#tab-most-viewed .carousel-inner,#tab-trending .carousel-inner,#tab-recent .carousel-inner,#tab-recent2 .carousel-inner{
    padding: 20px 0;
    margin:-20px 0;
    width:auto!important;
}
#tab-most-viewed .carousel-item-next,#tab-trending .carousel-item-next,#tab-recent .carousel-item-next,#tab-recent2 .carousel-item-next,#tab-recent2 .carousel-item-prev,
#tab-recent .carousel-item-prev,#tab-most-viewed .carousel-item-prev,#tab-trending .carousel-item-prev{
   padding: 20px 0;
}
.home-card-content{
    width: 210px;
    height: 130px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,0);
    padding: 5px;
    box-shadow: 1px 1px 20px rgba(0,0,0,0.06);
}
.home-card-title{
    line-height: 20px;
    margin: 10px 0;
}
.home-card-title a{
    color: #042330;
    font-size: 17px;
    font-family: 'Playfair Display';
}
.home-card-content a:hover{
    color: #042330;
}
.home-card-content p:nth-child(2){
    font-size: 13px;
    font-family: 'Vision Regular';
    margin-bottom: 0!important;
    line-height: 16px;
    margin: 10px 0;
}
.home-card-content p:last-child{
    font-family: 'Vision Regular';
    font-size: 12px;
    margin-bottom: 0!important;
    color: #6f6f6f;
    margin-top: 10px;
}
@media screen and (max-width:991.98px){
.home-card-img > img{
    width:170px;
    height: 130px;
}
.home-card-content{
    width:150px;
    height: 100px;
}
.publisher-home-card{
    height: 180px;
}
.home-card-title{
    line-height: 16px;
    margin: 0 0 5px 0;
}
.home-card-title a{
    font-size: 14px;
}
.home-card-content p:nth-child(2){
    font-size:12px;
    line-height:14px;
}
.home-card-content p:last-child{
    margin-top: 5px;
}
.publisher-header-left p{
    font-size: 20px;
    line-height:25px;
}
.pub-background-img2 {
    transform: scale(0.7);
    transform-origin:top right;
}
.pub-background-img1{
    transform:scale(0.7);
    transform-origin:top right;
    right: 165px;
}
.pub-background-img3{
    transform: scale(0.7);
    transform-origin:top right;
    top:34.5%;
}
.publisher-top::after{
    transform: scale(0.7);
    transform-origin:top left;
}
}
@media screen and (max-width:767.98px){
    .publisher-header-left{
        width: 100%;
        margin-top: 10%;
    }
    .publisher-header-right{
        width: 100%;
        position: relative;
        margin-top:90px;
        height: 100px;
    }
    .pub-background-img1{
        top: 35%;
        right: 106px;
        transform:scale(0.45);
        transform-origin:right top;
    }
    .pub-background-img2{
        top: 0;
        right: 0;
        transform:scale(0.45);
        transform-origin:right top;
    }
    .pub-background-img3{
        right: 0;
        top: 72%;
        transform:scale(0.45);
        transform-origin:right top;
    }
    .publisher-top::after{
        display: none;
    }
    .publisher-header-right::after{
        content: url('assets-Publishers-Page/HeaderDesign2-LeftSide.svg');
        position: absolute;
        left: 0%;
        top: 0%;
        transform:scale(0.7);
        transform-origin:left top;
    }
    .publisher-header-left h2{
        font-size: 24px;
    }
    .publisher-header-left p{
        font-size: 14px;
        line-height: 20px;
    }
    .publisher-tab-home{
        width: 100%;
    }
    .publisher-home-title p{
        font-size: 18px;
    }
    .publisher-home-card{
        margin-right: 15px;
        height: 250px;
    }
    .home-card-img > img{
        width: 200px;
        height: 150px;
    }
    .home-card-content{
        width: 180px;
        height: 130px;
        bottom: 5%;
    }
    .home-card-title{
        line-height: 20px;
        margin: 10px 0;
    }
    .home-card-title a{
        font-size: 15px;
    }
    .home-card-content p:nth-child(2){
        line-height:16px;
    }
    .carousel-item{
        overflow-x: scroll;
        scrollbar-width: none;
    }
    .carousel-item::-webkit-scrollbar{
        display: none;
    }
    .previous, .next {
        width: 24px;
        height: 24px;
    }
    .next {
        margin-left: 10px;
    }
}