.quick-top{
    padding-top: 6%;
    padding-bottom: 6%;
}
.quick-top-background{
    position: relative;
}
.quick-top-background::before{
    content: url('assets-Quick-Page/HeaderTriangle.svg');
    position: absolute;
    right: 0;
    top:0;
    z-index: -1;
}
.quick-top-background::after{
    content: url('assets-Quick-Page/DotsHeader.svg');
    position: absolute;
    right: 0;
    top:2%;
    z-index: -1;
}
.quick-header-left{
    width: 45%;
}
.quick-header-right{
    width: 45%;
}
.quick-header-left h2{
    font-size: 38px;
    font-family: 'Playfair Display';
}
.quick-header-left p{
    font-family: 'Montserrat';
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 0!important;
}
.book-img-2{
    width: 170px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.book-img-link-2{
    z-index: 1;
}
.book-img-1,.book-img-3{
    width: 160px;
    height: 230px;
    border-radius: 5px;
}
.book-img-1{
    position: relative;
    left: 30px;
}
.book-img-3{
    position: relative;
    left: -30px;
}
#quick-books-cara .carousel-indicators{
    bottom: -50px;
}
.quick-tab-popular{
    position: relative;
}
.quick-home-title p{
    font-size: 22px;
    font-family: 'Playfair Display';
    font-style: italic;
}
#tab-popular,#tab-genre,#tab-new,#tab-recomm{
    position: initial;
}
.controls{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}
.previous{
    background-color: #fff;
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid #FFDE00;
    cursor: not-allowed;
}
.previous span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #FFDE00;
    line-height: 1;
}
.next span:hover, .previous span:hover{
    text-decoration: none;
}
.next span:hover{
    color: #042330;
}
.previous span:hover{
    color: #FFDE00;
}
.next{
    background-color: #FFDE00;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: 20px;
}
.next span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #042330;
    line-height:1;
}
.quick-tab-genre{
    position: relative;
}
 .bq-card1,.bq-card2{
    width: 230px;
    height: 420px;
    border: none!important;
    border-radius: 10px!important;
}
.bq-card1{
    box-shadow: 1px 1px 30px rgba(255,69,0,0.05);
}
.bq-card2{
    box-shadow: 1px 1px 30px rgba(0,0,255,0.05);
}
.quick-cards-container{
    height: 430px;
}
.bq-card1 .card-header, .bq-card2 .card-header{
    border: none!important;
    padding: 1.25rem 0.46rem!important;
    background-color:#fff!important;
    width: 100%;
    height: 100%;
}
.bq-card1 .card-header > p,.bq-card2 .card-header > p{
    color:#292929;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}
.quick-card-img{
    position: relative;
    width:82%;
    margin-left:auto;
    margin-right:auto;
}
.quick-card-img > img{
    border-radius: 5px;
   /* width:176px; */
    width:100%;
    height: auto;
   /* height: 265px;*/
}
.heart-icon-quick{
    right: -5px;
    top: -5px;
}
.quick-card-title{
    margin-top: 5%;
    line-height:25px;
}
.quick-card-title a{
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 600;
  color: #042330;
}
.quick-card-title a:hover{
    color: #042330;
}
.quick_item_bottom{
    padding: 0 1.20rem;
}
.quick_item_bottom span:last-child{
    font-size: 12px;
    line-height: 14px;
    width: 28%;
    text-align: left;
    font-family: 'Vision Regular';
}
.quick_item_bottom span:first-child button{
    font-size: 13px;
}
.quick_item_bottom .audio-icon::before{
    content: url('assets/icons/Headphones.svg');
    display: inline-block;
    margin-left: 10%;
}
.quick-tab-recomm,.quick-tab-new{
    position: relative;
}
@media screen and (max-width:991.98px){
    .bq-card1,.bq-card2{
        width: 175px;
        height: 350px;
    }
    .quick-top-background::before{
        transform:scale(0.7);
        transform-origin:top right;
    }
    .book-img-2{
        width:150px;
        height: 240px;
    }
    .book-img-3{
        width:140px;
        height: 200px;
    }
    #quick-books-cara .carousel-indicators{
        bottom:-70px;
    }
    .quick-card-title{
        line-height:20px;
    }
    .quick-card-title a {
       font-size:16px;
    }
    .bq-card1 .card-header > p, .bq-card2 .card-header > p{
        font-size: 14px;
        line-height:20px;
    }
    .quick_item_bottom{
        padding:0 0.3rem;
        position: absolute;
        bottom: 15px;
    }
    .quick_item_bottom .audio-icon::before{
        margin-left:0;
    }
    .quick_item_bottom span:last-child{
        width:30%;
    }
    .quick-cards-container{
        height: 380px;
    }
    .quick-genre-container a img{
        width: 100px;
    }
    
.quick-header-left p{
    font-size: 20px;
    line-height:24px;
}
.quick-top-background::after{
    transform: scale(0.7);
    transform-origin: top right;
}
}
@media screen and (max-width:767.98px){
    .hr2{
        margin-right:16px;
        margin-left: 16px;
    }
    .quick-header-left{
        width: 100%;
    }
    .quick-header-right{
        width: 100%;
        margin-top: 15px;
    }
    .quick-top-background::before{
        right: 0;
        top:55%;
        z-index: -1;
        transform:scale(0.45);
        transform-origin: right top;
    }
    .quick-top-background::after{
        right: 2%;
        top:51%;
        z-index: -1;
        transform: scale(0.55);
        transform-origin: right top;
    }
    .quick-header-left h2{
        font-size: 24px;
        margin-top: 75px;
    }
    .quick-header-left p{
        font-size: 14px;
        line-height: 20px;
    }
    .quick-tab-home{
        width: 100%;
        position: relative;
    }
    .bq-card1,.bq-card2{
        width: 180px;
        height: 335px;
    }
    .bq-card1 .card-header > p,.bq-card2 .card-header > p{
        font-size: 12px;
        line-height: 20px;
    }
    .quick-card-img{
        position: relative;
    }
    .quick-card-img > img{
        border-radius: 5px;
        width: 100%;
        height: 200px;
    }
    .quick-card-title{
        margin-top: 5%;
        line-height:18px;
    }
    .quick-card-title a{
      font-size: 14px;
    }
    .quick_item_bottom{
        padding: 0 0.20rem;
        
    }
    .quick_item_bottom span:last-child{
        font-size: 10px;
        line-height: 13px;
    }
    .quick_item_bottom span:first-child button{
        font-size: 13px;
    }
    .quick_item_bottom .audio-icon::before{
        content: url('assets/icons/Headphones.svg');
        display: inline-block;
        margin-left: 7%;
    }
    .book-img-2{
        width: 120px;
        height: 190px;
    }
    .book-img-1,.book-img-3{
        width: 110px;
        height: 170px;
    }
    #quick-books-cara .carousel-indicators{
        bottom:-50px;
    }
    .quick-cards-container{
        height: 370px;
    }
    .tab-popular-carousel-inner{
        width: 100%;
        min-width: min-content;
    }
    .tab-popular-carousel-inner .card{
        margin-right: 15px;
    }
    .carousel-item{
        overflow-x:scroll;
        scrollbar-width: none;
    }
    .carousel-item::-webkit-scrollbar{
        display: none;
    }
    .genre-buttons button{
     margin:6px 0;
     box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
     outline: none!important;
     background-color:rgb(240, 239, 239);
     border:2px solid transparent!important;
    }
    .genre-buttons button:active,.genre-buttons button:focus{
        border: none;
        outline:0;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
       }
    .genre-buttons button.genre-active-button{
        border: 2px solid #FFDE00!important;
    }
    .previous,.next{
        width: 24px;
        height: 24px;
    }
    .next{
        margin-left:10px;
    }
    .quick-home-title p{
        font-size:18px;
    }
}

