.heart-icon-audio{
    right: 30%;
    top:4px;
}
.quick-navigation{
    margin-top: 80px;
    margin-bottom: 40px;
}
.audio-version{
    position: relative;
    margin-top: 40px;
}
.audio-version a{
    color: #042330;
    text-decoration: underline;
    font-size: 24px;
    font-family: 'Vision Regular';

}
.audio-version a:hover{
    color: #042330;
    text-decoration: none;
}
.alchemist-cont{
    padding-left: 280px;
    padding-right: 280px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
}
.alchemist-cont > p{
    font-size: 21px;
    font-family: 'Montserrat',sans-serif;
    line-height: 31px;
}
.alchemist-cont q{
    font-family: 'Playfair Display';
    font-size: 24px;
}
.alchemist-cont cite{
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 23px;
}
.alchemist-cont h3{
    font-size: 24px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    margin-bottom: 4%;
}
.hr2{
    margin-left: 280px;
    margin-right: 280px;
}
.share-left p{
    font-family: 'Montserrat',sans-serif;
    font-size: 19px;
    font-weight: 500;
    opacity: 0.7;
}
.social-links img:not(.whats-app){
    width: 30px;
    height: 30px;
}
.whats-app{
    width: 35px;
    height: 35px;
}
.social-links a{
    margin-right: 10px;
}
.quick-related-title p{
    font-size: 22px;
    font-family: 'Playfair Display';
    font-style: italic;
}
.quick-related-title{
    position: relative;
}
.quick-related-title::after{
    left: 0;
    right: 93%;
}
@media screen and (max-width:576px){

    .audio-version{
        position: relative;
        margin-top: 40px;
    }
    .audio-version a{
        font-size: 14px;
    }
    .heart-icon-audio{
        right: 16px;
    }
    .alchemist-cont{
        padding-left: 16px;
        padding-right: 16px;
        max-width: 100%;
    }
    .alchemist-cont > p{
        font-size: 14.5px;
        line-height: 24px;
        margin-bottom:1.5rem;
        margin-top: 1.5rem;
    }
    .alchemist-cont q{
        font-size: 15px;
    }
    .alchemist-cont cite{
        font-size: 15px;
    }
    .alchemist-cont h3{
        font-size: 15.5px;
    }
    .hr2{
        margin-left: 16px;
        margin-right: 16px;
    }
    .quick-cards-container{
        overflow-x: scroll;
        height: 370px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .quick-cards-container::-webkit-scrollbar{
        display: none;
    }
    .quick-related-cards{
        min-width: min-content;
    }
    .quick-related-cards .card{
        margin-right:15px;
    }
    .share-left{
        transform: translate(0,25%);
    }
    .share-left p{
        font-size:12px;
        margin-bottom:0!important;
    }
    .social-links a{
        margin-right: 8px;
    }
    .social-links img:not(.whats-app){
        width: 23px;
        height: 23px;
    }
    .whats-app{
        width: 28px;
        height: 28px;
    }
    .quick-related-title p{
        font-size: 18px;
    }
}