.quick-navigation{
    margin-top: 80px;
    margin-bottom: 40px;
}
.alchemist-header{
    margin-top: 8px;
}
.alchemist-title{
    padding: 50px 100px;
    position: relative;
    left: -15px;
    background-color: #fff;
    position: relative;
}
.heart-icon-alchemist{
    bottom: 0;
    right: 0;
}
.alchemist-title h2{
    font-size: 45px;
    font-family: 'Playfair Display';
    font-weight: 600;
}
.alchemist-img{
    position: relative;
    left: 15px;
}
.alchemist-img img{
    width: 210px;
    height: 310px;
 }
.reader-celeb{
    width: 16%;
 }
 .reader-celeb > div:first-child img{
     border-radius: 8px;
 }
 .reader-audio-player{
   width: 79%;
 }
 .celeb-name p{
     margin-bottom: 0!important;
 }
 .celeb-name p:first-child{
     width: 50%;
     line-height: 15px;
     font-family: 'Vision Heavy';
     font-size: 14px;
 }
 .celeb-name p:last-child{
     font-family: 'Vision Regular';
     font-size: 12px;
     margin-top: 10px;
 }
 .audio-container{
     margin-top: 4%;
     margin-bottom:4%;
 }
 .audio-player{
    width:70%;
    align-items: center;
}
 .reader-audio{
     display: flex;
     align-items: center;
     height: 4rem;
     padding-top: 0.5rem;
     padding-bottom:0.5rem;
     justify-content: space-between;
 }
 .reader-audio-player-element{
     flex-grow: 1;
 }
 .ranger {
    width: 100%;
    padding-right: .375rem;
    padding-left: .375rem;
 }
 .ranger-path {
     position: relative;
     width: 100%;
     height: .13rem;
     background: #9da8ad;
     cursor: pointer;
 }
 .ranger-trail {
     position: absolute;
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     background-color: #FFDE00;
     cursor: pointer;
 }
 .ranger-thumb {
     position: absolute;
     top: 50%;
     left: calc(-0.75rem/2);
     width: .75rem;
     height: .75rem;
     background: #FFDE00;
     border-radius: 50%;
     transform: translate(0%,-50%);
 }
 .audio-controls img{
     margin-right:35px;
 }
 .audio-vol-button,.prev-button,.play-button,.next-button{
    cursor: pointer;
}
.start-time{
    width: 35px;
}
.start-time span , .end-time span{
    font-family: 'Vision Regular';
    font-size: 14px;
}
.audio-share{
    padding-left: 250px;
    padding-right: 250px;
    max-width: 1366px;
    margin: 5% auto;
}
.share-left p{
    font-family: 'Montserrat',sans-serif;
    font-size: 19px;
    font-weight: 500;
    opacity: 0.7;
}
.social-links img:not(.whats-app){
    width: 30px;
    height: 30px;
}
.whats-app{
    width: 35px;
    height: 35px;
}
.social-links a{
    margin-right: 10px;
}
.hr2{
    margin-left: 250px;
    margin-right: 250px;
}
.quick-related-title p{
    font-size: 22px;
    font-family: 'Playfair Display';
    font-style: italic;
}
@media screen and (max-width:576px){
    .quick-navigation{
     position: absolute;
     top:270px;
     margin-top:0px;
     line-height: 15px;
    }
    .alchemist-header{
      margin-top:90px;
    } 
    .alchemist-title{
        padding: 22px 45px;
        position: relative;
        left: -10px;
        background-color: #fff;
        position: relative;
    }
    .alchemist-title h2{
        font-size: 18px;
    }
    .alchemist-img{
        position: relative;
        left: 0px;
    }
    .alchemist-img img{
       width: 100px;
       height: 150px;
    }
    .audio-container{
        margin-top: 90px;
        margin-bottom:54px;
    }
    .reader-audio{
        display: flex;
        flex-direction:column;
        height: 10rem;
        padding-top: 0.5rem;
        padding-bottom:0.5rem;
       
    }
    .audio-container{
        background-color: #fff;
    }
    .reader-audio > div{
        margin-top: 10px;
        margin-bottom:10px;
    }
    .reader-audio-player > div{
        margin-bottom: 40px;
    }
    .reader-audio-player{
        width: 100%;
    }
    .reader-celeb{
        width: 100%;
        position: relative;
    }
    .audio-controls-flex{
        position: relative;
        width: 100%;
    }
    .audio-volume{
        position:absolute;
        right:0;
        top:50%;
    }
    .audio-controls{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,0);
    }
    .audio-controls img{
        margin-right: 10px;
        margin-left: 10px;
    }
    .celeb-name p:first-child {
        width: 100%;
        line-height: 15px;
        font-family: 'Vision Heavy';
        font-size: 14px;
        margin-bottom: 0.2rem!important;
    }

   .celeb-name p:last-child{
    font-family: 'Vision Regular';
    font-size: 12px;
    margin-top: 0px;
    }
    .audio-player{
        width: 100%;
        position: relative;
    }
    .start-time{
        position: absolute;
        top:70%;
        width: auto;
    }
    .start-time span,.end-time span{
        font-size:12px;
    }
    .end-time{
        position: absolute;
        right: 0;
        top:70%
    }
    .ranger{
        padding-left:0;
        padding-right: 0;
    }
    .quick-related-title p{
        font-size: 18px;
    }
    .quick-cards-container{
        overflow-x: scroll;
        height: 370px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .quick-cards-container::-webkit-scrollbar{
        display: none;
    }
    .quick-related-cards{
        min-width: min-content;
    }
    .quick-related-cards .card{
        margin-right:15px;
    }
    .hr2{
        margin-left: 16px;
        margin-right: 16px;
    }
    .audio-share{
        padding-left: 16px;
        padding-right: 16px;
        max-width: 100%;
        margin: 13% auto;
    }
    .share-left{
        transform: translate(0,25%);
    }
    .share-left p{
        font-size:12px;
        margin-bottom:0!important;
    }
    .social-links a{
        margin-right: 8px;
    }
    .social-links img:not(.whats-app){
        width: 23px;
        height: 23px;
    }
    .whats-app{
        width: 28px;
        height: 28px;
    }
    .heart-icon-alchemist{
        top:-3px;
        right: 0px;
    }
}