.search-heading{
    font-family:'Playfair Display';
    font-size:24px;
    font-weight:600;
}
.search-articles-left{
    width:65%;
}
.search-articles-right{
    width:30%;
}
.searching-query{
    margin-top: 6.5rem;
}
.searching-query p{
   font-family:'Vision Regular';
   font-size:20px;
   color: #666666;
}
.searching-query span{
    font-family:'Vision Heavy';
    font-size:20px;
}
.searching-query a{
    color: #111;
    text-decoration: underline;
    font-family:'Vision Regular';
    font-size:20px;
}
.searching-query a:hover{
    color: #111;
    text-decoration: none;
}
.searching-query q span{
    font-weight:bold;
    color: #111;
}
.saved::before{
    content:"\007C";
    display: inline-block;
    margin:0 12px;
    font-family:'Vision Regular';
}
@media screen and (max-width:991px){
.search-articles-left{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}
}
@media screen and (max-width:767px){
    .search-articles-left{
        width:100%;
    }
    .search-articles-right{
        width:100%;
    }
    .search-scrolling{
        overflow-x:scroll;
    }
    .search-scrolling::-webkit-scrollbar{
        display:none;
    }
    .search-scrolling > div{
        min-width: min-content;
    }
    .search-heading{
        font-size:18px;
    }
    .searching-query p{
        font-size:16px;
    }
}