.quick-navigation{
    margin-top: 80px;
    margin-bottom: 40px;
}
.alchemist-title{
    padding: 50px 100px;
    position: relative;
    left: -15px;
    background-color: #fff;
}
.alchemist-title h2{
    font-size: 45px;
    font-family: 'Playfair Display';
    font-weight: 600;
}
.alchemist-img{
    position: relative;
    left: 15px;
}
.alchemist-img img{
    width: 210px;
    height: 310px;
 }
.alchemist-content{
    padding-left: 390px;
    padding-right: 390px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
    margin-top:3rem;
}
.alchemist-content > p{
    font-size: 22px;
    font-family: 'Montserrat',sans-serif;
} 
.millionaire-audio p{
    width: 20%;
    line-height: 15px;
    margin-bottom: 0!important;
    font-family: 'Vision Regular';
    font-size: 15px;
}
.millionaire-bottom{
    position: relative;
}
.heart-icon-audio{
    right: 0;
    top:50%;
    transform: translate(0,-50%);
}
.quick-related-title p{
    font-size: 22px;
    font-family: 'Playfair Display';
    font-style: italic;
}
.quick-related-title{
    position: relative;
}
@media screen and (max-width:1200px){
    .alchemist-content{
        padding-left: 70px;
        padding-right: 70px;
        max-width: 100%;
    }
}
@media screen and (max-width:991px){
    .alchemist-content{
        padding-left: 50px;
        padding-right: 50px;
    }
    .millionaire-bottom{
        margin-left:50px;
        margin-right: 50px;
    }
}
@media screen and (max-width:767px){
    .quick-navigation{
        margin-top: 30px;
        position: relative;
        top:230px;
        margin-bottom: 40px;
    }
    .alchemist-title{
        padding: 22px 40px;
        left: -15px;
    }
    .alchemist-title h2{
        font-size: 18px;
    }
    .alchemist-img{
        position: relative;
        left: 0px;
    }
    .alchemist-img img{
       width: 100px;
       height: 150px;
    }
    .alchemist-content{
        padding-left: 16px;
        padding-right: 16px;
        max-width: 100%;
        margin-top:4rem;
    }
    .alchemist-content > p{
        font-size: 15px;
        line-height: 24px;
        margin-bottom:0;
    } 
    .millionaire-audio p{
        width: 20%;
        line-height: 15px;
        margin-bottom: 0!important;
        font-family: 'Vision Regular';
        font-size: 13px;
    }
    .millionaire-bottom{
        position: relative;
    }
    .heart-icon-audio{
        right: 0;
        top:50%;
        transform: translate(0,-50%);
    }
    .quick-related-title p{
        font-size: 18px;
    }
    .quick-cards-container{
        overflow-x: scroll;
        height: 370px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    .quick-cards-container::-webkit-scrollbar{
        display: none;
    }
    .quick-related-cards{
        min-width: min-content;
    }
    .quick-related-cards .card{
        margin-right:15px;
    }
    .millionaire-bottom{
        margin-left:0px;
        margin-right: 0px;
    }
}