.inspire-navigation{
    margin-top: 80px;
    margin-bottom:40px;
}
.millionaire-title{
    padding: 50px 30px;
    position: relative;
    left: -15px;
    background-color: #fff;
    position: relative;
}
.millionaire-title h2{
    font-size: 45px;
    font-family: 'Playfair Display';
    font-weight: 600;
}
.millionaire-img{
    position: relative;
    left: 15px;
}
.millionaire-img img{
    width:250px;
    height: 300px;
}
.millionaire-content{
    margin-left: 390px;
    margin-right: 390px;
    margin-top:3rem;
}
.millionaire-content > p{
    font-size: 22px;
    font-family: 'Montserrat',sans-serif;
} 
.millionaire-audio p{
    width: 20%;
    line-height: 15px;
    margin-bottom: 0!important;
    font-family: 'Vision Regular';
    font-size: 15px;
}
.millionaire-bottom{
    position: relative;
}
.heart-icon-audio{
    right: 0;
    top:50%;
    transform: translate(0,-50%);
}
.related-heading h2{
    font-size: 26px;
    font-family: 'Playfair Display';
    font-style: italic;
}
.body{
    position: relative;
    overflow-x: hidden;
}
.body::before{
    content: url('assets-InspireMe/BG-Shapes-2.svg');
    position: absolute;
    right: 0;
    top: -53%;
    z-index: -1;
}
.body::after{
    content: url('assets-InspireMe/BG-shapes.svg');
    position: absolute;
    left:0;
    top: -85%;
    z-index: -1;
}
@media screen and (max-width:576px){
    .inspire-navigation{
        position: relative;
        top:210px;
        margin-top: 30px;
    }
    .millionaire-content{
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 4rem;
    }
    .millionaire-content > p{
        font-size: 14.5px;
        margin-bottom:0rem!important;
    } 
    .millionaire-title{
        padding: 25px;
        position: relative;
        left: -10px;
        background-color: #fff;
        position: relative;
    }
    .millionaire-title h2{
        font-size: 20px;
        font-family: 'Playfair Display';
        font-weight: 600;
    }
    .millionaire-img{
        position: relative;
        left: 10px;
    }
    .millionaire-img img{
        width:110px;
        height: 135px;
    }
    .body::before{
        right: 0;
        top: 16%;
        transform: scale(0.4);
        transform-origin: right top;
        
    }
    .body::after{
        left:0;
        top: -15%;
        transform:scale(0.4);
        transform-origin: left top;
    }
    .millionaire-audio p{
        font-size: 13px;
    }
}