.inspire-navigation{
    margin: 80px 165px 40px 165px;
}
.top-nav{
    margin: 0 5px;
    font-family: 'Vision Regular';
}
a.top-nav{
    color: #042330;
    opacity: 0.8;
    text-decoration: underline;
}
a.top-nav:hover{
    color: #042330;
    text-decoration: none;
}
img{
    object-fit: cover;
}
.millionaire-title{
    padding: 50px 30px;
    position: relative;
    left: -15px;
    background-color: #fff;
    position: relative;
}
.millionaire-title h2{
    font-size: 45px;
    font-family: 'Playfair Display';
    font-weight: 600;
}
.millionaire-img{
    position: relative;
    left: 15px;
}
.millionaire-content{
    margin-left: 390px;
    margin-right: 390px;
}
.millionaire-content > p{
    font-size: 22px;
    font-family: 'Montserrat',sans-serif;
} 
.millionaire-audio p{
    width: 20%;
    line-height: 15px;
    margin-bottom: 0!important;
    font-family: 'Vision Regular';
    font-size: 15px;
}
.millionaire-bottom{
    position: relative;
}
.heart-icon-audio{
    right: 0;
    top:50%;
    transform: translate(0,-50%);
}
.related-heading h2{
    font-size: 26px;
    font-family: 'Playfair Display';
    font-style: italic;
}
.related{
    margin-left: 165px;
    margin-right: 165px;
}
.body::before{
    content: url('assets-InspireMe/BG-Shapes-2.svg');
    position: absolute;
    right: 0;
    top: -53%;
    z-index: -1;
}
.body::after{
    content: url('assets-InspireMe/BG-shapes.svg');
    position: absolute;
    left:0;
    top: -85%;
    z-index: -1;
}