img{
    object-fit: cover;
}
header{
    background-image: url(https://images.unsplash.com/photo-1513475382585-d06e58bcb0e0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-position: center;
    height:450px;
    width: 100%;
    position: relative;
}
.heart-icon-sart{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    bottom: -30px;
    right:10%;
}
.heart-icon-sart img{
    width:30px;
    height:30px;
}
.article-navigation{
    margin-top: 15px;
    margin-bottom:15px;
}
.single-article-heading h2{
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 40px;
}
.single-article-social{
    margin-left: 250px;
    margin-right: 250px;
}
.social-links a{
    margin-right: 10px;
}
.author-name p{
    font-family: 'Vision Regular';
    line-height: 9px;
}
.author-name{
    transform: translate(0,20%);
}
.author-name p:last-child{
    opacity: 0.7;
}
.single-article-content{
    margin-left: 250px;
    margin-right: 250px;
    position: relative;
    margin-top: 5%;
    font-family: 'Montserrat';
    font-size: 19px;
    line-height: 31px;
}
.single-article-content p{
    margin-bottom: 3%;
}
#wiki{
    color: #042330;
    text-decoration: underline;
    font-weight: 500;
}
.related{
    margin-bottom: 2%;
}
.related a{
    text-decoration: underline;
    font-weight: 500;
}
.related p{
    font-weight: 500;
    opacity: 0.7;
}
.related a:hover{
    text-decoration: none;
}
#wiki:hover{
    color: #042330;
    text-decoration: none;
}
cite,i{
    font-family: 'Playfair Display';
}
.bold-line{
    font-weight: 600;
    text-transform: uppercase;
}
.quote{
    font-size: 27px;
    font-family: 'Playfair Display';
    font-weight: 500;
    line-height: 35px;
    quotes: none;
}
.quote .qu-u{
    position: relative;
    top: -10px;
    transform: rotate(-180deg);
    width: 20px;
    height: 20px;
}
.quote .qu-l{
    position: relative;
    top: -10px;
    width: 20px;
    height: 20px;
}
.single-article-quote{
    position: absolute;
    top: -80px;
    left: -95px;
    transform: rotate(-180deg);
    opacity: 0.5;
    z-index: -1;
}
.middle-image{
    height: 300px;
}
.share{
    margin-left: 250px;
    margin-right: 250px;
}
.share-left p{
    font-family: 'Montserrat',sans-serif;
    font-size: 19px;
    font-weight: 500;
    opacity: 0.7;
}
.author_desc{
    background-color: rgba(0,0,0,0.06);
    width:55%;
    margin: 0 auto;
    padding: 15px 8%;
}
.author_desc img{
    width: 80px;
    height: 80px;
}
.author_desc .auth-desc{
    font-family:'Montserrat',sans-serif;
    font-size: 14px;
    color: #242424;
    
}
.author_desc .auth-desc-name{
    font-family: 'Vision Regular';
    font-size: 16px;
    line-height: 31px;
}
.bg-white{
    background-color: #fff;
}
.singlearticle-author div:first-child img{
    width: 65px;
    height: 65px;
}
.social-links img:not(.whats-app){
    width: 30px;
    height: 30px;
}
.whats-app{
    width: 35px;
    height: 35px;
}
@media only screen and (max-width:1199.98px){
    .single-article-content{
        margin-left: 60px;
        margin-right: 60px;
    }
    .share{
        margin-left: 60px;
        margin-right: 60px;
    }
    .single-article-social{
        margin-left: 60px;
        margin-right: 60px;
    }
    .single-article-quote{
        transform: rotate(-180deg) scale(0.7);
        left: -80px;
    }
    .single-article-subscribe{
        padding-left: 60px!important;
        padding-right: 60px!important;
    }
}
@media only screen and (max-width:991.98px){
    .single-article-heading h2{
        text-align: left!important;
    }
}
@media screen and (max-width:767.98px){
    header{
        height: 250px;
    }
    .article-navigation{
        margin-top: 20px;
        line-height: 16px;
    }
    .heart-icon-sart{
        height: 40px;
        width: 40px;
        bottom: -20px;
        right:10%;
    }
    .heart-icon-sart img{
        width:22px;
        height:22px;
    }
    .single-article > h2{
        font-size: 25px;
    }
    .single-article-content p{
        margin-bottom: 1.5rem;
    }
    .single-article-social{
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 56px;
    }
    .single-article-content{
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 5%;
        font-size: 14.5px;
        line-height: 23px;
    }
    .quote{
        font-size: 17px;
        font-family: 'Playfair Display';
        font-weight: 500;
        line-height: 20px;
        quotes: none;
    }
    .share{
        margin-left: 16px;
        margin-right: 16px;
    }
    .related-article-wrapper{
        margin-left: 16px;
        margin-right: 16px;
    }
    .single-article-quote{
        top: 40px;
        left: 50px;
        transform: scale(0.3) rotate(-180deg);
        transform-origin:0 0;
    }
    .singlearticle-author div:first-child img{
        width: 45px;
        height: 45px;
    }
    .author-name p{
        font-size: 12px;
        font-family: 'Vision Regular';
        margin-bottom: 0!important;
        line-height: 16px;
    }
    .author-name{
        transform: translate(0,10%);
    }
    .single-article-social .social-links{
        transform: translate(0,30%);
    }
    .social-links img:not(.whats-app){
        width: 23px;
        height: 23px;
    }
    .whats-app{
        width: 28px;
        height: 28px;
    }
    .quote .qu-u{
        position: relative;
        top: -10px;
        transform: rotate(-180deg);
        width: 10px;
        height: 10px;
    }
    .quote .qu-l{
        position: relative;
        top: -10px;
        width: 10px;
        height: 10px;
    }
    .middle-image{
        height: 200px;
    }
    .author_desc{
        background-color: rgba(0,0,0,0.06);
        width:95%;
        margin: 0 auto;
        padding: 15px 2%;
    }
    .author_desc .auth-desc-name {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 0.5rem!important;
    }
    .author_desc img{
        width: 60px;
        height: 60px;
    }
    .author_desc .auth-desc {
        font-size: 12px;
    }
    .share-left{
        transform: translate(0,25%);
    }
    .share-left p{
        font-size:12px;
        margin-bottom:0!important;
    }
    .social-links a{
        margin-right: 8px;
    }
}
